@import 'core/settings';
@import 'core/mixins';
@import 'vendors/normalize';
@import 'components/proxyHero';
@import 'layout/about';
//@import 'layout/works';

*{
	box-sizing: border-box;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes EaseIn {
  0% {
    opacity: 0;}
  100% {
    opacity: 1;}}

@keyframes writing {
  from {
    width: 100%; }
  to {
    width:0; }}

@keyframes colorChange {
  0% {
    color: #fff;}

  100% {
    color: #f7484e;}}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  //max-width: 100%;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

  @import 'layout/header';
@import 'components/hero';

body {
	width: 100%;
	height: 100%;
	font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
	color: #777;
  margin: 0;
  border: none;
  .main {
    //display: flex;

    background-color: #252525;
    color: white;
    border: none;
    //padding-bottom: 40px;
    font-size: 15px;
    width: 100%;
    
    &__skills {
      background-color: #252525;
      padding: 15px 0;
      color: #0c0c0c;
      color: white;
      
      display: flex;
      flex-direction: column;
      .frontend-wrapper {
        //border: 3px solid #33323242;
        padding: 8px;
        //box-shadow: 5px 5px 5px #2f434470;
        margin-bottom: 18px;
        ///@at-root
        //background-color: #27272773;
        //box-shadow: 5px 5px 5px #2f434470;
        box-shadow: #000000b5 5px 5px 5px;
        border: 3px solid #00000042;
        background: linear-gradient(0deg, rgba(39,39,39,1) 0%, rgba(37,37,37,1) 100%);

      }
      .graphic-design-wrapper {
        border: 3px solid #33323242;
        padding: 6px;
        box-shadow: 5px 5px 5px #2f434470;
        margin-bottom: 18px;
        box-shadow: #000000b5 5px 5px 5px;
        border: 3px solid #00000042;
        background: linear-gradient(0deg, rgba(39,39,39,1) 0%, rgba(37,37,37,1) 100%);

      }
      .seo-wrapper {
        border: 3px solid #33323242;
        padding: 10px;
        box-shadow: 5px 5px 5px #2f434470;
        box-shadow: #000000b5 5px 5px 5px;
        border: 3px solid #00000042;
        background: linear-gradient(0deg, rgba(39,39,39,1) 0%, rgba(37,37,37,1) 100%);

        .skillsWraper {
          .skills{
            width: 107px;
          margin: 2px;
          font-size: 14px;
          margin-top: 5px;
          background-color: #232222;
          border: 2px solid #1d1c1c94;

          }
        }
      }
      .category-front {
        background-color: #fff;
        background-color: #252525;
        position: relative;
        bottom: -16px;
        width: 40%;
        margin: auto;
        text-align: center;
        width: 110px;
      }
      .category-design {
        background-color: #fff;
        background-color: #252525;
        position: relative;
        bottom: -16px;
        width: 60%;
        margin: auto;
        text-align: center;
        width: 150px;
      }
      .category-seo {
        background-color: #fff;
        background-color: #252525;
        position: relative;
        bottom: -16px;
        width: 60%;
        margin: auto;
        text-align: center;
        width: 140px;
      }
      .skillsWraper{
        width: 260px;
        margin: auto;
      ul {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 8px;
        flex-wrap: wrap;
        .skill {
          background-color: #232222;
          width: 107px;
          margin: 2px;
          font-size: 14px;
          margin-top: 5px;
          border: 2px solid #1d1c1c94;
        }
        li {

          background-color: #fff;
          background-color: #252525;
          padding: 1px 0;
          display: flex;
          align-items: center;
          width: 47%;
          border-radius: 6px;
          border: 2px solid #33323242;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
          i {
            display: inline-block;
            margin: 0 5px 0 8px;
            text-shadow: 1px 1px 1px #635f5f78;
          }
        }
      }
      }
    }
    &__contact {
      color: #0c0c0c;
      //color: white;
      width: 100%;
        &__cover{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-transform: uppercase;
          color: white;
          width: 100%;
          height: 100vh;
          background-color:#f7484e;
          .navigation-contact {
            margin-top: 200px;
            a {
              font-weight: 700;
              cursor: pointer;
              padding: 10px 10px 6px 10px;
              &:hover {
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                border-bottom: 5px solid white;
              }
            }
        }
      }
      &__content {
        background-color: rgb(42, 77, 104);
        //color: #0c0c0c;
        color: white;
        padding: 25px;
        .contact-button {
          display: flex;
          flex-direction: row;
          &:hover > .social-icon{
            transform: scale(1.3);
            color: #f7484e;
          }
          .social-icon:hover{
            transform: scale(1.3);
            color: #f7484e;
          }
          .social:hover > .social-icon {
            transform: scale(1.3);
            color: #f7484e;
          }
          .btn-text {
            padding: 0px 7px;
            //color: #0c0c0c;
            color: white;
            cursor: pointer;
            &:hover > .social-icon {
              transform: scale(1.3);
              color: #f7484e;
            }
            &:hover {
              transform: scale(1.3);
              color: #f7484e;
            }
          }
          .social-icon:hover {
            transform: scale(1.3);
            color: #f7484e;
          }
        }
      }
      @include tablet {
        display: flex;
        flex-direction: row;
        &__cover{
          width: 50vw;
        }
        &__content{
          width: 50vw;

        }
      }
    }

    &__work {
      position: relative;
      width: 100%;
      color: black;
      background-color: #fff;
      background-color: #252525;
      .carousel{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        color: white;
        top: 46.4vh;
        padding: 0 24px;
        //background-color: #2a4d68;
        margin: auto;
        //display: inline;
        text-align: center;
    //     @include tablet {
    //     //bottom: 0vh;
    //     width: 40px;
    // height: 100vh;
    // flex-direction: column;
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-pack: justify;
    // -ms-flex-pack: justify;
    // justify-content: space-between;
    // position: absolute;
    // color: white;
    // /* top: 46.5vh; */
    // padding: 24px 0px;
    // /* margin: auto; */
    // text-align: center;
    // left: 49%;
    // top: 0;
//}
p {
    width: 100%;
    margin: 0;
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
        }
        .carousel-content{
          background-color: #2a4d68e8;
          padding: 25px;
          padding-top: 7.15px;
          z-index: 4000;
          border: 1.2px solid white;
          border-radius: 18px;
          // @include tablet {
          //   background-color: #2a4d68e8;
    /* padding: 25px; */
    // width: 50px;
    // display: flex;
    // flex-direction: column;
    // padding-top: 25px;
    // padding-bottom: 25px;
    // padding-right: 7px;
    // right: 10px;
    // position: relative;
    // z-index: 4000;
    // padding-left: 7px;
    // border: 1.2px solid white;
    //       }
        }
        .arrowNavigationWorks{
          width: 30px;
          height: 30px;
          position: relative;
          //right: -15.8px;
          top: 5px;
          z-index: 4000;
          /* margin-left: 6px; */
          background-color: #2a4d68e8;
          border: 1.2px solid white;
          //transform: rotate(45deg);
          border-radius: 2px;
          padding-top: 3px;
          cursor: pointer;
          &:hover{
            transform: scale(1.2);
          }
          // @include tablet{
          //   transform: rotate(90deg);
          //   &:hover{
          //     transform: scale(1.2);
          //   }
          // }

  }
  // .arrowNavigationWorks:hover {
  //   transform: scale(1.4);
  // }

  .arrowNavigationWorksNext {
    padding-top: 3px;
    width: 30px;
    height: 30px;
    position: relative;
    //right: -15.8px;
    top: 5px;
    z-index: 4000;
    /* margin-left: 6px; */
    background-color: #2a4d68e8;
    border: 1.2px solid white;
    //border-left: 2.4px solid white;
    // -webkit-transform: rotate(45deg);
    // transform: rotate(30deg);
    border-radius: 2px;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
    }
    // @include tablet{
    //   transform: rotate(90deg);
    // }
}
        .fas.fa-circle{
          //margin-left: 25px;
          font-size: 13px;
          top: -1.2px;
          position: relative;
          cursor: pointer;
          margin-left: 10px;
          margin-right: 10px;
          text-shadow: 1.5px 1px 1.5px #191a1b;
        }
        .far{
          margin-left: 10px;
          margin-right: 10px;
          font-size: 9px;
          top: -1.4px;
          position: relative;
          cursor: pointer;
          // @include tablet {
          //   margin-top: 25px;
          //   margin-left: 0;
          // }
          &:last-child{
            //margin: 5;
          }
          &:hover {
            transform: scale(1.3);
          }
        }
      }
      .nextSectionButton{
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
        //margin-bottom: 17px;
        //width: 35px;
        left: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
        //padding-left: 49.1%;
        height: 35px;
        font-size: 22px;
        //border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        &:hover {
          transform: scale(1.3)
        }
        @include tablet {
          margin-bottom: 35px;
          font-size: 40px;
        }
        div{
          background-color: rgba(42, 77, 104, 0.91);
          width: 40px;
          height: 40px;
          padding-top: 2px;

        }
      }
      &__cover{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        color: white;
        width: 100%;
        height: 100vh;
        background-color:#292929;;
        .navigation-work {
          margin-top: 200px;
          a {
            font-weight: 700;
            cursor: pointer;
            padding: 10px 10px 6px 10px;
            &:hover {
              box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
              border-bottom: 5px solid white;
            }
          }

        }
      }
      .first-proyect{
        background-color: #eef5f7;
       // z-index: 1;
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
         &-description{
          height: 50vh;
          text-align: center;
          color: white;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          background-color: #2a4d68;
          //padding: 0 34px;
          @include tablet  {
            height: 100vh;
            font-size: 18px;
          }
          .linksInfoProject {
            display: flex;
            flex-direction: row;
            padding-top: 10px;
            padding-bottom: 15px;
          }
          .seeMore-button {
            width: 116px;
            height: fit-content;
            display: inline;
            padding: 10px;
            margin: 10px;
            align-self: center;
            border: 2px solid white;
            background-color: transparent;
            cursor: pointer;
            @include tablet  {
              font-size: 14px;
            }
            &:hover {
              transform: scale(1.3);
            }
            a{
              color: white;
              text-transform: uppercase;
            }
          }
    }
    .first-proyect-image{
      height: 50vh;
      background-image: url('/assets/images/proxyCover.jpg'); //_src/assets/images/proxy-image.png
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: white;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Roboto Slab', serif;
      text-shadow: 1px 1px 2px black; 
      font-size: 22px;
      @include tablet  {
        height: 100vh;
        font-size: 28px;
      }
      small {
        font-size: 12px;
        @include tablet  {
          font-size: 18px;
        }
      }
    }
      }
      .second-proyect{
        background-color: #eef5f7;
        // position: absolute;
        // top: 0;
        // left: 100%;
        // right: 0;
      }
      .second-proyect-description{
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 50vh;
        background-color: #1d4e4e;
        @include tablet  {
          height: 100vh;
          font-size: 18px;
        }
        .second-seeMore-button {
          width: 160px;
          display: inline;
          padding: 10px;
          margin: 10px;
          align-self: center;
          border: 2px solid white;
          background-color: transparent;
          cursor: pointer;
          @include tablet  {
            font-size: 14px;
          }
          &:hover {
            transform: scale(1.1);
          }
          a{
            color: white;
            text-transform: uppercase;
          }
        }
      }
      .second-proyect-image{
        background-color: #eef5f7;
        //margin: 0 20px;
        color: #e17334;
        font-family: 'Merriweather', serif;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: right;
        flex-direction: column;
        text-align: right;
        height: 50vh;
        background-image: url('/assets/images/cardsCover.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      @include tablet  {
        height: 100vh;
      }
      .cardIcons{
        position: relative;
        top: 40px;
        font-size: 18px;
        i{
          margin: 3px;
        }
      }
      }
      .third-proyect{
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
      }
      .third-proyect-description{
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 50vh;
        background-color: #721503e8;
        @include tablet  {
          height: 100vh;
          font-size: 18px;
        }
        .third-seeMore-button {
          width: 160px;
          display: inline;
          padding: 10px;
          margin: 10px;
          align-self: center;
          border: 2px solid white;
          background-color: transparent;
          cursor: pointer;
          @include tablet  {
            font-size: 14px;
          }
          &:hover {
            transform: scale(1.1);
          }
          a{
            color: white;
            text-transform: uppercase;
          }
        }
      }
      .third-proyect-image{
        height: 50vh;
        background-image: url('/assets/images/diceCover.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: 'Audiowide', cursive;
        font-size: 22px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        @include tablet  {
          height: 100vh;
        }
        .diceGame {
          background-color: black;
          border: 5px solid white;
          text-align: center;
          padding: 15px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 250px;
          height: 220px;
          @include tablet {
            width: 300px;
            height: 270px;
            font-size: 28px;
          }
          .gameHero {
            display: flex;
            flex-direction: row;
            text-align: left;
            .gameTitle {
              display: inline-block;
              width: 50%;
              text-align: left;
            }
            img {
              width: 71px;
              margin: auto;
              margin-right: 0;
              transform: rotate(100deg);
              @include tablet {
                width: 91px;
              }
            }
          }
          
        }
        .rollUp {
          text-align: center;
          background-color: black;
          border: 2px solid white;
          border-radius: 20px;
          width: 80px;
          font-size: 14px;
          margin: auto;
          margin-top: 40px;
          margin-bottom: 10px;
          @include tablet {
            width: 120px;
            font-size: 18px;
          }
        }
      }
      .fourth-proyect {
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
      }
      .fourth-proyect-description{
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 50vh;
        background-color: #377e65;
        @include tablet  {
          font-size: 18px;
          height: 100vh;
        }
        .fourth-seeMore-button {
          width: 160px;
          display: inline;
          padding: 10px;
          margin: 10px;
          align-self: center;
          border: 2px solid white;
          background-color: transparent;
          cursor: pointer;
          @include tablet  {
            font-size: 14px;
          }
          &:hover {
            transform: scale(1.1);
            border-radius: 20px;
          }
          
          a{
            color: white;
            text-transform: uppercase;
          }
        }
      }
      .fourth-proyect-image{
        height: 50vh;
        background-color: rgb(228, 228, 228);
        //background-image: url('/assets/images/aboutImage.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        font-family: 'Audiowide', cursive;
        font-size: 16px;
        color: white;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        @include tablet  {
          height: 100vh;
          img {
            height: 65%;
            width: 99%;
            position: relative;
            top: 30px;
          }
        }
        .contactMenu {
          background-color: #099d8d;
          width: 100%;
          font-family: 'Rubik', sans-serif;
          text-transform: uppercase;
          display: flex;
          font-size: 10px;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          font-weight: 500;
          @include tablet {
            height: 40px;
            font-size: 12px;
          }
          &-items{
            display: flex;
            flex-direction: row;
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              top: 2px;
              position: relative;
              padding-left: 5px;
              @include tablet {
                padding-left: 8px;
              }
            }
          }
          .contactIcon{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 9px;
            position: relative;
            border-radius: 5px;
            border: 1px solid white;
            font-weight: 600;
            padding: 1px 2px 0;
            @include tablet {
              font-size: 12px;
            }
          }
        }
        .frontSide {
          color: #099d8d;
          font-size: 20px;
          margin-top: 7px;
          text-shadow: 0px 3px 3px rgb(240, 243, 192); 
          //text-decoration-line: underline;
          @include tablet {
            font-size: 40px;
            margin-top: 30px;
          }
          .fa-shoe-prints {
            transform: rotate(-90deg);
            padding-bottom: 3px;
            
          }
        }
        .about-us-image-inside{
          height: 70%;
        }
      }

      &__content {
        color: #0c0c0c;
        padding: 35px;
       
          
      }
      .heading-secondary-works {
        padding-left: 24px;
      }
      .information {
        background-color: #2d9;
        margin-top: 15px;
        //z-index: -2;
        
       
      }
      .adalab-about-us{
        width: 100%;
        display:flex;
        justify-content: center;
        position: relative;
        //top: -210px;;
        //&:hover > .information {
          //z-index: 2;}

        }
       
      }
          
        .about-us-image {
          width: 100%;
          margin: auto;
        }
      }
    }
  
    .create{
      padding: rem(20);
      padding-bottom: 0;
      padding-top: rem(27);
  
      &__design {
          text-transform: uppercase;
          padding-bottom: rem(7);
          border-bottom: rem(1) solid black;
          cursor: pointer;
          &--icon{
              width: rem(21);
              height: rem(18);
          }
  
          &--title {
              font-size: rem(18);
              margin: rem(0) rem(0) rem(0) rem(10);
              font-weight: 600;
      
          }
          &--arrow {
              width: rem(16);
              height: rem(18);
              font-size: rem(18);
          }
          &--text {
              margin: rem(73) rem(219) rem(132) rem(19);
              font-size: rem(14);
              top: rem(5);    
          }
      }
  }

  .design-view{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .view-left {
      display: flex;
      flex-direction: row;
  }
  
  .view-hidden{
      margin: rem(22) rem(0) rem(23) rem(0);
  
  }
  
  .hidden {
      display: none;
  }
  
  ////////////@at-root
  @include tablet {
    .first-proyect-image {
      width: 50vw;
      height: 100vh;
    }
    .image {
      width: 50vw;
      height: 100vh;
    }
    .main__work {
    display: flex;
    flex-direction: column;
    .description {
      width: 50vw;
    }
    &__cover{
      //width: 50vw;
     //position: fixed;
     height: 100vh;
     
    }
    &__content{
      //width: 50vw;

    } 
  }
  .proyect {
    display: flex;
flex-direction: row;
width: 100%;
  }
  .image{
    width: 50vw;
    height: auto;
  }
  .first-proyect-image {
    width: 50vw;
    height: auto;
  }
  .third-proyect-image {
    width: 50vw;
    height: 100vh;
  }
  .description {
    width: 50vw;
    height: 100vh;
  }
  }