@import 'core/settings';
@import 'core/links';
@import 'vendors/normalize';
@import 'components/proxyHero';

*{
	box-sizing: border-box;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes EaseIn {
  0% {
    opacity: 0;}
  100% {
    opacity: 1;}}

@keyframes writing {
  from {
    width: 100%; }
  to {
    width:0; }}

@keyframes colorChange {
  0% {
    color: #fff;}

  100% {
    color: #f7484e;}}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;}

html {
  font-size: 62.5%; }
li {
  list-style: none;
}

a {
  text-decoration: none;
}

  @import 'layout/header';
@import 'components/hero';

body {
	width: 100%;
	height: 100%;
	font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
	color: #777;
  margin: 0;
  border: none;
  .main {
    background-color: white;
    color: white;
    border: none;
    padding-bottom: 40px;
    font-size: 15px;
    width: 100%;
    &__about-me {
      width: 100%;
      &__cover{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        color: white;
        width: 100vw;
        height: 100vh;
        background-color:#f7484e;
        .navigation-about {
          margin-top: 200px;
          a {
            font-weight: 700;
            cursor: pointer;
            padding: 10px 10px 6px 10px;
            &:hover {
              box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
              border-bottom: 5px solid white;
            }
          }
        }
      }
      &__content {
        color: #0c0c0c;
        padding: 25px;
          
      }
    }
    &__formation {
      padding: 0px 25px 10px 25px;
      color:  #0c0c0c;
      .bootcamp-view {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #33323242;
        border-left: 1px solid #33323242;
        padding: 3px 5px;
        margin-top: 10px;
        &:hover  > .formation__bootcamp--arrow {
          color: orange;
        }
      }
      .master__header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #33323242;
        border-left: 1px solid #33323242;
        padding: 3px 5px;
        margin-top: 10px;
        &:hover  > .button-form {
          color: orange;
        }
      }
      .master__form {
        border-bottom: 1px solid #33323242;
        border-left: 1px solid #33323242;
        padding: 3px 5px;
        font-size: 13px;
        
      }
      .validateInputsSection {
        border-bottom: 1px solid #33323242;
        border-left: 1px solid #33323242;
        padding: 3px 5px;
        font-size: 13px;
      }
      .view-hidden {
        border-bottom: 1px solid #33323242;
        border-left: 1px solid #33323242;
        padding: 3px 5px;
        font-size: 13px;
      }
      .formation-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #33323242;
        border-left: 1px solid #33323242;
        padding: 3px 5px;
        margin-top: 10px;
        &:hover  > .button-form {
          color: orange;
        }
      }
      .courses-view {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #33323242;
        border-left: 1px solid #33323242;
        padding: 3px 5px;
        margin-top: 10px;
        &:hover  > .formation__courses--arrow {
          color: orange;
        }
      }
    }
    .box {
      box-shadow: 5px 5px 5px #2f434470;
      border-bottom: 1px solid #33323242;
      border-left: 1px solid #33323242;
    }
    .paragraph-linkedin {
      padding: 24px 0 10px;
    }
    .download-cv-button {
      border: 1px solid #f7484e;
      padding: 5px;
      text-align: center;
      a {
        color:  #0c0c0c;
      }
    }
    &__skills {
      background-color: #fff;
      padding: 24px 24px 40px;
      color: #0c0c0c;
      
      display: flex;
      flex-direction: column;
      .frontend-wrapper {
        border: 3px solid #33323242;
        padding: 12px;
        box-shadow: 5px 5px 5px #2f434470;
        margin-bottom: 18px;
      }
      .graphic-design-wrapper {
        border: 3px solid #33323242;
        padding: 12px;
        box-shadow: 5px 5px 5px #2f434470;
        margin-bottom: 18px;
      }
      .seo-wrapper {
        border: 3px solid #33323242;
        padding: 12px;
        box-shadow: 5px 5px 5px #2f434470;
      }
      .category-front {
        background-color: #fff;
        position: relative;
        bottom: -16px;
        width: 40%;
        margin: auto;
        text-align: center;
      }
      .category-design {
        background-color: #fff;
        position: relative;
        bottom: -16px;
        width: 60%;
        margin: auto;
        text-align: center;
      }
      .category-seo {
        background-color: #fff;
        position: relative;
        bottom: -16px;
        width: 60%;
        margin: auto;
        text-align: center;
      }
      ul {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 8px;
        li {
          background-color: #fff;
          padding: 1px 0;
          display: flex;
          align-items: center;
          width: 47%;
          border-radius: 6px;
          border: 2px solid #33323242;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
          i {
            display: inline-block;
            margin: 0 5px 0 8px;
            text-shadow: 1px 1px 1px #635f5f78;
          }
        }
      }
    }
    &__contact {
      color: #0c0c0c;
        &__cover{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-transform: uppercase;
          color: white;
          width: 100vw;
          height: 100vh;
          background-color:#f7484e;
          .navigation-contact {
            margin-top: 200px;
            a {
              font-weight: 700;
              cursor: pointer;
              padding: 10px 10px 6px 10px;
              &:hover {
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                border-bottom: 5px solid white;
              }
            }
        }
      }
      &__content {
        color: #0c0c0c;
        padding: 25px;
        .contact-button {
          display: flex;
          flex-direction: row;
          &:hover > .social-icon{
            transform: scale(1.3);
            color: #f7484e;
          }
          .social-icon:hover{
            transform: scale(1.3);
            color: #f7484e;
          }
          .social:hover > .social-icon {
            transform: scale(1.3);
            color: #f7484e;
          }
          .btn-text {
            padding: 0px 7px;
            color: #0c0c0c;
            &:hover > .social-icon {
              transform: scale(1.3);
              color: #f7484e;
            }
          }
        }
      }
    }
    &__work {
      width: 100vw;
      color: black;
      background-color: #fff;
      &__cover{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        color: white;
        width: 100vw;
        height: 100vh;
        background-color:#292929;;
        .navigation-work {
          margin-top: 200px;
          a {
            font-weight: 700;
            cursor: pointer;
            padding: 10px 10px 6px 10px;
            &:hover {
              box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
              border-bottom: 5px solid white;
            }
          }

        }
      }
      .first-proyect{
        height: 100vh;
        &-description{
          height: 50vh;
          text-align: center;
          color: white;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          height: 100vw;
          background-color: blue;
          .seeMore-button {
            width: 55%;
            display: inline;
            padding: 10px;
            margin: 10px;
            align-self: center;
            border: 2px solid white;
            background-color: blue;
            &:hover {
              transform: scale(1.3);
            }
            a{
              color: white;
              text-transform: uppercase;
            }
          }
    }
    .first-proyect-image{
      height: 50vh;
      background-image: url('/assets/images/proxyCover.jpg'); //_src/assets/images/proxy-image.png
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: white;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Roboto Slab', serif;
      font-size: 22px;
      small {
        font-size: 12px;
      }
    }
      }
      .second-proyect{
        background-color: #eef5f7;
      }
      .second-proyect-description{
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vw;
        background-color: blue;
        .second-seeMore-button {
          width: 55%;
          display: inline;
          padding: 10px;
          margin: 10px;
          align-self: center;
          border: 2px solid white;
          background-color: blue;
          &:hover {
            transform: scale(1.1);
          }
          a{
            color: white;
            text-transform: uppercase;
          }
        }
      }
      .second-proyect-image{
        background-color: #eef5f7;
        margin: 0 20px;
        color: #e17334;
        font-family: 'Merriweather', serif;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: right;
        flex-direction: column;
        text-align: right;
        height: 50vh;
        background-image: url('/assets/images/cardsCover.svg');
        background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      .cardIcons{
        position: relative;
        top: 40px;
        font-size: 18px;
        i{
          margin: 3px;
        }
      }
      }
    
      .third-proyect-description{
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vw;
        background-color: blue;
        .third-seeMore-button {
          width: 55%;
          display: inline;
          padding: 10px;
          margin: 10px;
          align-self: center;
          border: 2px solid white;
          background-color: blue;
          &:hover {
            transform: scale(1.1);
          }
          a{
            color: white;
            text-transform: uppercase;
          }
        }
      }
      .third-proyect-image{
        height: 50vh;
        background-image: url('/assets/images/diceCover.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: 'Audiowide', cursive;
        font-size: 22px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        .diceGame {
          background-color: black;
          border: 5px solid white;
          text-align: center;
          padding: 15px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 60%;
          height: 70%;
          .gameHero {
            display: flex;
            flex-direction: row;
            text-align: left;
            .gameTitle {
              display: inline-block;
              width: 50%;
              text-align: left;
            }
            img {
              width: 71px;
              margin: auto;
              transform: rotate(100deg);
            }
          }
          
        }
        .rollUp {
          text-align: center;
          background-color: black;
          border: 2px solid white;
          border-radius: 20px;
          width: 80px;
          font-size: 14px;
          margin: auto;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }

      .fourth-proyect-description{
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vw;
        background-color: blue;
        .fourth-seeMore-button {
          width: 55%;
          display: inline;
          padding: 10px;
          margin: 10px;
          align-self: center;
          border: 2px solid white;
          background-color: blue;
          &:hover {
            transform: scale(1.1);
          }
          a{
            color: white;
            text-transform: uppercase;
          }
        }
      }
      .fourth-proyect-image{
        height: 50vh;
        background-color: rgb(228, 228, 228);
        //background-image: url('/assets/images/aboutImage.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        font-family: 'Audiowide', cursive;
        font-size: 16px;
        color: white;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        .contactMenu {
          background-color: #099d8d;
          width: 100%;
          font-family: 'Rubik', sans-serif;
          text-transform: uppercase;
          display: flex;
          font-size: 12px;
          justify-content: space-between;
          padding: 5px;
        }
        .about-us-image-inside{
          height: 70%;
        }
      }

      &__content {
        color: #0c0c0c;
        padding: 35px;
       
          
      }
      .heading-secondary-works {
        padding-left: 24px;
      }
      .information {
        background-color: #2d9;
        margin-top: 15px;
        //z-index: -2;
        
       
      }
      .adalab-about-us{
        width: 100vw;
        display:flex;
        justify-content: center;
        position: relative;
        //top: -210px;;
        //&:hover > .information {
          //z-index: 2;}

        }
       
      }
          
        .about-us-image {
          width: 100%;
          margin: auto;
        }
      }
    }
  
    .create{
      padding: rem(20);
      padding-bottom: 0;
      padding-top: rem(27);
  
      &__design {
          text-transform: uppercase;
          padding-bottom: rem(7);
          border-bottom: rem(1) solid black;
          cursor: pointer;
          &--icon{
              width: rem(21);
              height: rem(18);
          }
  
          &--title {
              font-size: rem(18);
              margin: rem(0) rem(0) rem(0) rem(10);
              font-weight: 600;
      
          }
          &--arrow {
              width: rem(16);
              height: rem(18);
              font-size: rem(18);
          }
          &--text {
              margin: rem(73) rem(219) rem(132) rem(19);
              font-size: rem(14);
              top: rem(5);    
          }
      }
  }

  .design-view{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .view-left {
      display: flex;
      flex-direction: row;
  }
  
  .view-hidden{
      margin: rem(22) rem(0) rem(23) rem(0);
  
  }
  
  .hidden {
      display: none;
  }
  
  ////////////@at-root
 