<section id="about" class="main__aboutMe listen-scroll">
    <div class=main__aboutMe__cover></div>
  
    <article class="main__aboutMe__content">
      <h2 class="heading-secondary">How/Who I am?</h2>
      <p>I am a enthusiastic, creative Frontend developer and Graphic Designer that enjoy experimenting with the new development trends and working regularly on my own and colaboratibe Web design projects.</p>
      <p>In a quest for always keeping myself updated, I read books and attend conferences & meetups.</p>
  
      <section class="main__aboutMe__content--formation">
        <h2 class="heading-secondary">What's my formation?</h2>
        <div class="main__aboutMe__content--formation--box">
          <div id="js-toggle" class="bootcamp-view">
            <div class="view-left">
              <div class="studiesWrapper">
                <p class="formation__bootcamp--title">FrontEnd development Bootcamp</p>
                <span class=study-place>in Adalab</span>
              </div>
            </div>
          <div class="formation__bootcamp--arrow">
            <span>
              <i class="bootcamp-arrow-button fas fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="view-hidden hidden" id="toggle">
          <ul>
            <li>- HTML5 | CSS3 | SASS.</li>
            <li>- Responsive design.</li>
            <li>- Development: JavaScript next | Node.</li>
            <li>- Frameworks: React.</li>
            <li>- Versions control: Git | Github.</li>
            <li>- Task runner: Gulp.</li>
            <li>- Dependency management: NPM.</li>
            <li>- Scrum & Agile philoshopy.</li>      
          </ul>
        </div>
      </div>
      <div class="main__aboutMe__content--formation--box">
        <div class="master__header-container">
          <div class="master__header">
            <div class="studiesWrapper">
              <p class="master__title">Web and Ghaphic Design Master</p>
              <span class=study-place>in AZPE</span>
            </div>
          </div>
          <div class="button-form">
            <span>
              <i class="arrow-button-form fas fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <form class="master__form hidden" action="" method="post">
          <ul>
            <li>- Web development.</li>
            <li>- Wordpress</li>
            <li>- Graphic design: Ps, Ia, Id</li>
            <li>- Digital marketing: SEO/SEM tools.</li>
            <li>- Community Manager functions.</li>     
          </ul>
        </form>
      </div>
  
      <div class="main__aboutMe__content--formation--box">
        <div class="formation__grade">
          <div class="formation-container">
            <div class="studiesWrapper">
              <p class="title">Languages & Communication Grade</p>
              <span class=study-place>in Universidad Autónoma de Madrid</span>
            </div>
            <div class="button-form">
              <span>
                <i class="arrow-button-share fas fa-chevron-down"></i>
              </span>
            </div>
          </div>
          <div id="formation-button-section" class="validateInputsSection hidden">
            <ul>
              <li>- Communication techniques. </li>
              <li>- Trading and Mediation.</li>
              <li>- Digital editing, Design and Layout.</li>
              <li>- Audiovisual analysis.</li>
              <li>- Branding.</li>
              <li>- Translation.</li>
              <li>- French (C1). English (B2).</li>
              <li>- Mandarin Chinese (HSK3)</li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="main__aboutMe__content--formation--box">
        <div id="js-toggle-courses" class="courses-view">
          <div class="view-left">
            <div class="studiesWrapper">
              <p class="formation__courses--title">Especialize courses</p>
              <span class=study-place>Self-learning</span>
            </div>
          </div>
          <div class="formation__courses--arrow">
            <span>
              <i class="courses-arrow-button fas fa-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="view-hidden hidden" id="toggle-courses">
          <ul>
            <li>- Complete JavaScript (45h). Udemy</li>
            <li>- Advanced CSS and Sass (28h). Udemy</li>   
            <li>- Digital Marketing (24h). IAB</li>
            <li>- Team Building (12h). UAM</li>   
          </ul>
        </div>
      </div>
    </section>
  
    <section class="main__skills">
      <h2 class="heading-secondary">Skills</h2>
      <div class="skillsContainer">
        <section>
          <h3 class="category-front">Front-End</h3>
          <div class="frontend-wrapper skillsWraper">
            <ul class="primera">
              <li class="skill">
                <i class="fab fa-html5" style="color: #dd4b25;"></i>HTML
              </li>
              <li class="skill">
                <i class="fab fa-css3-alt" style="color: #1a6fb4;"></i>CSS
              </li>
              <li class="skill">
                <i class="fab fa-js" style="color: #efd81d;"></i>Javascript
              </li>
              <li class="skill">
                <i class="fab fa-sass" style="color: #c76494;"></i>Sass
              </li>
              <li class="skill">
                <img class="skillIconPug" src="/assets/images/pug.svg">Pug
              </li>
              <li class="skill">
                <i class="fab fa-react" style="color: #2d82ca;"></i>React
              </li>
              <li class="skill">
                <i class="fab fa-node-js" style="color: #2d82ca;"></i>Node.js
              </li>
              <li class="skill">
                <i class="fab fa-npm" style="color: #8df108;"></i>NPM
              </li>
              <li class="skill">
                <i class="fab fa-gulp" style="color: #dd4b25;"></i>Gulp
              </li>
              <li class="skill">
                <i class="fab fa-wordpress-simple" style="color: #2d82ca;"></i>Wordpress
              </li>
              <li class="skill">
                <i class="fab fa-github-alt" style="color: #ece4b7;"></i>Github
              </li>
              <li class="skill">
                <i class="fas fa-code-branch" style="color: #dd4b25;"></i>Git
              </li>
            </ul>
          </div>
        </section>
        <div>
          <section>
            <h3 class="category-design">Graphic Design</h3>
            <div class="graphic-design-wrapper skillsWraper">
              <ul class="graphic-design">
                <li class="skill">
                  <img class="skillIcon" src="/assets/images/photoshop.png">
                  Photoshop
                </li>
                <li class="skill">
                  <img class="skillIcon" src="/assets/images/illustrator.png">
                  Illustrator
                </li>
                <li class="skill">
                  <img class="skillIcon" src="/assets/images/indesign.png">
                  </i>InDesign
                </li>
                <li class="skill">
                  <img class="skillIcon" src="/assets/images/lightroom.png">
                  </i>Lightroom
                </li>
              </ul>
            </div>
          </section>
          <section class="seo">
            <h3 class="category-seo">Team Building</h3>
            <div class="seo-wrapper skillsWraper">
              <ul class="primera">
                <li class="skill">
                  <i class="fab fa-trello" style="color: #0379c2;"></i>Trello
                </li>
                <li class="skill">
                  <i class="fas fa-sync" style="color: #e87205;"></i>Scrum
                </li>
                <li class="skill">
                  <i class="fas fa-cogs" style="color: #00c6fa;"></i>Agile
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>

        <h2 class="heading-secondary paragraph-linkedin">More details in my...</h2>
        <div class="download-cv-button">
          <a class="download-cv-link" target="_blank" href="../pdfs/reporte2-05-10.pdf" download="Reporte2Mayo2010">
            <i class="fas fa-download"></i>&nbsp  Curriculum Vitae (PDF)
          </a>
        </div>

      <h2>Contact</h2>
      <p class="heading-final u-margin-bottom-small"> If you have a project or want to collaborate you are very welcome to contact me.<br>I am available for freelance projects and full-time employment.</p>
      <div class="contact-button">
        <a class="btn-text">
          <i class="social-icon fas fa-map-marker-alt"></i>&nbsp Madrid, Spain
        </a>
      </div>
      <div class="contact-button">
        <a href="https://www.linkedin.com/in/%C3%A1ngela-benavente-almaz%C3%A1n-436003174/" target="_blank" class="btn-text">
          <i class="social-icon fab fa-linkedin"></i>&nbsp Ángela Benavente Almazán
        </a>
      </div>
      <div class="contact-button">
          <a href="https://github.com/angelabenavente" target="_blank" class="btn-text">
            <i class="social-icon fab fa-github"></i>&nbsp @angelabenavente
          </a>
      </div>
      <div class="contact-button">
        <a href="mailto:angela.b.almazan@gmail.com" target="_blank" class="btn-text">
          <i class="social-icon fas fa-envelope-square"></i>&nbsp  angela.b.almazan@gmail.com
        </a>
      </div>
      <div class="contact-button">
        <a href="tel:644154842" target="_blank" class="btn-text">
          <i class="social-icon fas fa-phone-square-alt"></i> &nbsp+0034 644154842
        </a>
      </div>
      <!-- <a class="nextSection linkToProjectsContent" data-scroll href="#anchor-1">
        <i id="aboutPosition" class="nav-work-link fas fa-angle-down"></i><h3 class="backToHome">projects</h3>
      </a> -->
  </article>

  <!-- <a class="nextSection linkToProjects" data-scroll href="#anchor-1">
    <i id="aboutPosition" class="nav-work-link fas fa-angle-down"></i>
    <h3 class="backToHome">projects</h3>
  </a> -->
</section>