<header class="header">
  <div class="navigationAuthor">
    <div class="navigation header__navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

      <label for="navi-toggle" class="navigation__button">
          <p class="navigation__icon">&nbsp;</p>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
          <ul class="navigation__list">
              <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
              <li class="navigation__item"><a href="#" class="navigation__link">Work</a></li>
              <li class="navigation__item"><a href="#" class="navigation__link">About</a></li>
              <li class="navigation__item"><a href="#" class="navigation__link">Formation</a></li>
              <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
              </ul>
              </nav>
    </div>
              <div class="header__logo"><span id="author" >AB | </span><span class="pageCategory">projects</span></div>

</div>
              <div class="header__logo-aboutMe"><a href="./aboutMe.html">About me</a></div>

</header>