<header id="header" class="header">

  <div class="header__navigation">

    <div class="navigation header__navigation__burger">
      <input type="checkbox" class="header__navigation__burger-checkbox" id="navi-toggle">
      <label for="navi-toggle" id="navigation__button" class="header__navigation__burger-button navigationButton">
        <p class="header__navigation__burger-button-icon navigationIcon">&nbsp;</p>
      </label>
      <div id="navigation-background" class="header__navigation__burger-background navigationBackground">&nbsp;</div>

      <nav class="header__navigation__burger-wrapper navigationWrapper">
        <ul class="header__navigation__burger-wrapper-list">
          <h3 class="header__navigation__burger-wrapper-list-section">Who made this?</h3>
          <li class="header__navigation__burger-wrapper-list-section-item">
            <a href="#about" class="header__navigation__burger-wrapper-list-section-item-link  singleItem">About</a>
          </li>
          <h3 class="header__navigation__burger-wrapper-list-section">Projects</h3>
          <li class="header__navigation__burger-wrapper-list-section-item">
            <a href="#anchor-1" class="header__navigation__burger-wrapper-list-section-item-link singleItem">Anonymous Proxy</a>
          </li>
          <li class="header__navigation__burger-wrapper-list-section-item">
            <a href="#anchor-2" class="header__navigation__burger-wrapper-list-section-item-link singleItem">Awesome Profile Cards</a>
          </li>
          <li class="header__navigation__burger-wrapper-list-section-item">
            <a href="#anchor-3" class="header__navigation__burger-wrapper-list-section-item-link singleItem">Dice Pig Game</a>
          </li>
          <li class="header__navigation__burger-wrapper-list-section-item">
            <a href="#anchor-4" class="header__navigation__burger-wrapper-list-section-item-link singleItem">Contact with us!</a>
          </li>
          <li class="header__navigation__burger-wrapper-list-section-item">
            <a href="#anchor-5" class="header__navigation__burger-wrapper-list-section-item-link singleItem">Series around the worls</a>
          </li>
          <li class="header__navigation__burger-wrapper-list-section-item">
            <a href="#anchor-6" class="header__navigation__burger-wrapper-list-section-item-link singleItem">Rick & Morty characters</a>
          </li>
          <li class="header__navigation__burger-wrapper-list-section-item">
            <a href="#anchor-7" class="header__navigation__burger-wrapper-list-section-item-link singleItem">Budgety</a>
          </li>
          <h3 class="header__navigation__burger-wrapper-list-section">Contact</h3>
          <div class="header__navigation__burger-wrapper-list-social">
              <div class="header__navigation__burger-wrapper-list-social-button">
                <a href="https://www.linkedin.com/in/%C3%A1ngela-benavente-almaz%C3%A1n-436003174/" class="header__navigation__burger-wrapper-list-social-button-link" target="_blank">
                  <i class="social-icon fab fa-linkedin"></i>
                </a>
              </div>
              <div class="header__navigation__burger-wrapper-list-social-button">
                <a href="https://github.com/angelabenavente" class="header__navigation__burger-wrapper-list-social-button-link" target="_blank">
                  <i class="social-icon fab fa-github"></i>
                </a>
              </div>
              <div class="header__navigation__burger-wrapper-list-social-button">
                <a href="mailto:angela.b.almazan@gmail.com" class="header__navigation__burger-wrapper-list-social-button-link">
                  <i class="social-icon fas fa-envelope-square"></i>
                </a>
              </div>
              <div class="header__navigation__burger-wrapper-list-social-button">
                <a href="tel:644154842" class="header__navigation__burger-wrapper-list-social-button-link">
                  <i class="social-icon fas fa-phone-square-alt"></i>
                </a>
              </div>
            </div>
        </ul>
      </nav>
    </div>

    <div id="navigationInline" class="navigation header__navigation__inline">
      <span id="author" class="navigation header__navigation__inline-author">AB</span>
      <span class="navigation header__navigation__inline-intersection"> | </span>
      <a href="#about"><span id="pageCategoryAbout" class="navigation header__navigation__inline-about">about</span></a>
      <span class="navigation header__navigation__inline-intersection"> | </span>
      <a href="#anchor-1"><span id="pageCategoryWork" class="navigation header__navigation__inline-work">work</span></a>
    </div>
  </div>
  
  <div id="contactLinksHeader" class="header__socialIcons">
    <div class="header__socialIcons__button">
      <a href="https://www.linkedin.com/in/%C3%A1ngela-benavente-almaz%C3%A1n-436003174/" class="header__socialIcons__button-link" target="_blank">
        <i class="social-icon fab fa-linkedin"></i>
      </a>
    </div>
    <div class="header__socialIcons__button">
      <a href="https://github.com/angelabenavente" class="header__socialIcons__button-link" target="_blank">
        <i class="social-icon fab fa-github"></i>
      </a>
    </div>
    <div class="header__socialIcons__button">
      <a href="mailto:angela.b.almazan@gmail.com" class="header__socialIcons__button-link">
        <i class="social-icon fas fa-envelope-square"></i>
      </a>
    </div>
    <div class="header__socialIcons__button">
      <a href="tel:644154842" class="header__socialIcons__button-link">
        <i class="social-icon fas fa-phone-square-alt"></i>
      </a>
    </div>
  </div>
</header>