<header class="header">

  <div class="navigationAuthor">

    <div class="navigation header__navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
      <label for="navi-toggle" id="navigation__button" class="navigation__button">
        <p class="navigation__icon">&nbsp;</p>
      </label>
      <div id="navigation-background" class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="#" class="navigation__link">Home</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Work</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">About</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Formation</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header__logo">
      <span id="author" >AB | </span>
      <span class="pageCategory">projects</span>
    </div>
  </div>
  <div id="contactLinksHeader" class="header__logo-aboutMe">
    <div class="contactLink contact-button">
      <a href="https://www.linkedin.com/in/%C3%A1ngela-benavente-almaz%C3%A1n-436003174/" class="btn-text" target="_blank">
        <i class="social-icon fab fa-linkedin"></i>
      </a>
    </div>
    <div class="contactLink contact-button">
      <a href="https://github.com/angelabenavente" class="btn-text" target="_blank">
        <i class="social-icon fab fa-github"></i>
      </a>
    </div>
    <div class="contactLink contact-button">
      <a href="https://github.com/angelabenavente" class="btn-text" target="_blank">
        <i class="social-icon fas fa-envelope-square"></i>
      </a>
    </div>
    <div class="contactLink contact-button">
      <a href="tel:644154842" class="btn-text" target="_blank">
        <i class="social-icon fas fa-phone-square-alt"></i>
      </a>
    </div>

</header>

<!--<a href="./aboutMe.html">About me</a></div>-->