<main class=main>
  <section class="main__about-me">
    <h2 class="heading-secondary">How/Who I am?</h2>
    <p>I am a enthusiastic, creative Frontend developer and Graphic Designer with SEO/SEM tools knowledge.</p>
    <p>I enjoy experimenting with the new development trends and working regularly on my own and colaboratibe Web design projects.</p>
    <p>I'm familiar with using HTML5, CSS3, SASS, PUG, JavaScript & frameworks like REACT, </p>
    <p>In a quest for always keeping myself updated, I read books and attend conferences & meetups.</p>
  </section>
  <section class="main__formation">
    <h2 class="heading-secondary">What's my formation?</h2>
    <p>
      <ul>
        <li>Adalab FrontEnd development Bootcamp <span class=study-place>in Adalab</span>
        <p>HTML, CSS, SASS, GULP, NPM, NOdeJS, React</p></li>
        <li>Web and Ghaphic Design Master <span class=study-place>in Azpe</span><p>Responsive Design cross-platform, SEO & SEM, Multimedia production.</p></li>
        <li>Modern Languages, Culture and Communication Grade <span class=study-place>in Universidad Autónoma de Madrid </span><p>Marketing, Digital Edition, french (C1) and mandarin chinese (HSK3) languages</p</li>
        <li>Especialize courses</li>
      </ul>
    </p>
    <p class="paragraph-linkedin">
      You can see more details in my <!--<a href="https://www.linkedin.com/in/%C3%A1ngela-benavente-almaz%C3%A1n-436003174/" class="btn-text">LinkedIn &rarr;</a> or downloading my CV--></p>
    <div class="download-cv-button">
      <a class="download-cv-link" href="../pdfs/reporte2-05-10.pdf" download="Reporte2Mayo2010">Curriculum Vitae (PDF)</a>
    </div>
  </section>
  
  <section class="main__skills">
    <h2 class="heading-secondary">Skills</h2>
    <h3 class="category-front">Front-End</h3>
    <div class="frontend-wrapper">
      <ul class="primera">
        <li class="skill"><i class="fab fa-html5" style="color: #dd4b25;"></i></i>HTML</li>
        <li class="skill"><i class="fab fa-css3-alt" style="color: #1a6fb4;"></i>CSS</li>
      </ul>
      <ul class="segunda">
        <li class="skill"><i class="fab fa-js" style="color: #efd81d;"></i></i>Javascript</li>
        <li class="skill"><i class="fab fa-sass" style="color: #c76494;"></i></i>Sass</li>
      </ul>
      <ul class="tercera">
        <li class="skill"><i class="fab fa-sass" style="color: #c76494;"></i></i>Pug</li>
        <li class="skill"><i class="fab fa-react" style="color: #2d82ca;"></i></i>React</li>
      </ul>
      <ul class="cuarta">
        <li class="skill"><i class="fab fa-node-js" style="color: #2d82ca;"></i></i>Node.js</li>
        <li class="skill"><i class="fab fa-npm" style="color: #8df108;"></i>NPM</li>
      </ul>
      <ul class="cuarta">
        <li class="skill"><i class="fab fa-gulp" style="color: #dd4b25;"></i></i>Gulp</li>
        <li class="skill"><i class="fab fa-wordpress-simple" style="color: #2d82ca;"></i></i>Wordpress</li>
      </ul>
    </div>
    <h3 class="category-design">Graphic Design</h3>
    <div class="graphic-design-wrapper">
      <ul class="graphic-design">
        <li class="skill"><i class="fas fa-photo-video" style="color: #00c6fa;"></i>Photoshop</li>
        <li class="skill"><i class="fas fa-vector-square" style="color: #ff7c00;"></i>Illustrator</li>
      </ul>
      <ul class="graphic-design">
        <li class="skill"><i class="far fa-newspaper" style="color: #e10186;"></i>InDesign</li>
        <li class="skill"><i class="fas fa-image" style="color: #add0e4;"></i>Lightroom</li>
      </ul>
      <ul class="graphic-design">
        <li class="skill"><i class="fas fa-paint-brush" style="color: #d0822e;"></i>Gimp</li>
        <li class="skill"><i class="fas fa-mountain" style="color: #000000;"></i></i>Inkscape</li>
      </ul>
    </div>
    <h3 class="category-seo">Team Building</h3>
    <div class="seo-wrapper">
      <ul class="primera">
        <li class="skill"><i class="fab fa-trello" style="color: #0379c2;"></i>Trello</li>
        <li class="skill"><i class="fas fa-chart-bar" style="color: #e87205;"></i>Scrum</li>
      </ul>
      <ul class="primera">
        <li class="skill"><i class="fas fa-code-branch" style="color: #dd4b25;"></i>Git</li>
        <li class="skill"><i class="fas fa-chart-bar" style="color: #e87205;"></i>Github</li>
      </ul>
    </div>
  </section>
  <section class="main__contact">
    <h2>Contact</h2>
    <p class="heading-final u-margin-bottom-small"> If you want to collaborate you are very welcome to contact me.</p>
    <p class="paragraph">
      I am available for freelance projects and full-time employment.
    <h4 class="heading-final u-margin-bottom-small">Ángela benavente</h3>
    <p class="paragraph">
      Graphic Design & Front-End Development  <br>angela.b.almazan@gmail.com<br>+0034 644154842
      </p>

      <a href="https://www.linkedin.com/in/%C3%A1ngela-benavente-almaz%C3%A1n-436003174/" class="btn-text">LinkedIn &rarr;</a>
  </section>
  <section class="main__work">
    <h2 class="heading-secondary-works">Works</h2>
    <!--<div class="desktop"><img class= "desktop-image" src="./assets/images/pantalla.svg">-->
    <div class="information">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nisi excepturi minima assumenda animi perferendis accusamus? Dicta velit provident magni. Doloribus alias, doloremque laboriosam corporis accusamus provident nobis totam impedit?</p>
    </div>
    <div class=adalab-about-us><img class="about-us-image" src="./assets/images/about-us.png"></div>
    <!--<div class=adalab-about-us><img class="about-us-image" src="./assets/images/dice-game-image.png"></div>
    <div class=adalab-about-us><img class="about-us-image" src="./assets/images/budgety-image.png"></div>-->
    <div class=adalab-about-us><img class="about-us-image" src="./assets/images/proxy-image.png"></div>




  </section>
</main>