<main class=main>
  <section id="about" class="main__about-me">
    <div class=main__about-me__cover>
      <h2>About</h2>
      <nav class=navigation-about>
        <a href="./index.html#home">Home</a>
        <span>&nbsp/&nbsp</span>
        <a href="./index.html#work">Work</a>
        <span>&nbsp/&nbsp</span>
        <a href="./index.html#contact">Contact</a>
      </nav>
    </div>
    <article class="main__about-me__content">
    <h2 class="heading-secondary">How/Who I am?</h2>
    <p>I am a enthusiastic, creative Frontend developer and Graphic Designer that enjoy experimenting with the new development trends and working regularly on my own and colaboratibe Web design projects.</p>
    <p>In a quest for always keeping myself updated, I read books and attend conferences & meetups.</p>
  </section>
  <section class="main__formation">
    <h2 class="heading-secondary">What's my formation?</h2>

  <div class="box">
    <div id="js-toggle" class="bootcamp-view">
      <div class="view-left">
        <div>
        <p class="formation__bootcamp--title">FrontEnd development Bootcamp</p>
        <span class=study-place>in Adalab</span>
      </div>
      </div>
      <div class="formation__bootcamp--arrow">
        <span><i class="bootcamp-arrow-button fas fa-chevron-down"></i></span>
      </div>
    </div>
    <div class="view-hidden hidden" id="toggle">
      <ul>
        <li>- HTML5 | CSS3 | SASS.</li>
        <li>- Responsive design.</li>
        <li>- Development: JavaScript next | Node.</li>
        <li>- Frameworks: React.</li>
        <li>- Versions control: Git | Github.</li>
        <li>- Task runner: Gulp.</li>
        <li>- Dependency management: NPM.</li>
        <li>- Scrum & Agile philoshopy.</li>      
      </ul>
    </div>
  </div>

    <div class="box">
				<div class="master__header-container">
					<div class="master__header">
            <div>
              <p class="master__title">Web and Ghaphic Design Master</p>
              <span class=study-place>in AZPE</span>
            </div>
          </div>
          <div class="button-form">
              <span><i class="arrow-button-form fas fa-chevron-down"></i></span>
          </div>
				</div>
				<form class="master__form hidden" action="" method="post">
            <ul>
                <li>- Web development.</li>
                <li>- Wordpress</li>
                <li>- Graphic design: Ps, Ia, Id</li>
                <li>- Digital marketing: SEO/SEM tools.</li>
                <li>- Community Manager functions.</li>     
              </ul>
				</form>
      </div>

    <div class="box">
      <div class="formation__grade">
          <div class="formation-container">
            <div>
              <p class="title">Languages & Communication Grade</p>
              <span class=study-place>in Universidad Autónoma de Madrid </span>
            </div>
            <div class="button-form">
                <span><i class="arrow-button-share fas fa-chevron-down"></i></span>
            </div>
          </div>
          <div id="formation-button-section" class="validateInputsSection hidden">
              <ul>
                  <li>- Communication techniques. </li>
                  <li>- Trading and Mediation.</li>
                  <li>- Digital editing, Design and Layout.</li>
                  <li>- Audiovisual analysis.</li>
                  <li>- Branding.</li>
                  <li>- Translation.</li>
                  <li>- French (C1). English (B2).</li>
                  <li>- Mandarin Chinese (HSK3)</li>
                </ul>
          </div>
        </div>
    </div>
      <div class="box">
        <div id="js-toggle-courses" class="courses-view">
            <div class="view-left">
              <div>
                <p class="formation__courses--title">Especialize courses</p>
                <span class=study-place>in Adalab</span>
              </div>
            </div>
            <div class="formation__courses--arrow">
              <span><i class="courses-arrow-button fas fa-chevron-down"></i></span>
            </div>
          </div>
          <div class="view-hidden hidden" id="toggle-courses">
            <ul>
              <li>- Complete JavaScript (45h). Udemy</li>
              <li>- Advanced CSS and Sass (28h). Udemy</li>   
              <li>- Digital Marketing (24h). IAB</li>
              <li>- Team Building (12h). UAM</li>   
            </ul>
          </div>
        </div>
  </article>
  </section>
  
  <section class="main__skills">
    <h2 class="heading-secondary">Skills</h2>
    <h3 class="category-front">Front-End</h3>
    <div class="frontend-wrapper">
      <ul class="primera">
        <li class="skill"><i class="fab fa-html5" style="color: #dd4b25;"></i></i>HTML</li>
        <li class="skill"><i class="fab fa-css3-alt" style="color: #1a6fb4;"></i>CSS</li>
      </ul>
      <ul class="segunda">
        <li class="skill"><i class="fab fa-js" style="color: #efd81d;"></i></i>Javascript</li>
        <li class="skill"><i class="fab fa-sass" style="color: #c76494;"></i></i>Sass</li>
      </ul>
      <ul class="tercera">
        <li class="skill"><i class="fab fa-sass" style="color: #c76494;"></i></i>Pug</li>
        <li class="skill"><i class="fab fa-react" style="color: #2d82ca;"></i></i>React</li>
      </ul>
      <ul class="cuarta">
        <li class="skill"><i class="fab fa-node-js" style="color: #2d82ca;"></i></i>Node.js</li>
        <li class="skill"><i class="fab fa-npm" style="color: #8df108;"></i>NPM</li>
      </ul>
      <ul class="cuarta">
        <li class="skill"><i class="fab fa-gulp" style="color: #dd4b25;"></i></i>Gulp</li>
        <li class="skill"><i class="fab fa-wordpress-simple" style="color: #2d82ca;"></i></i>Wordpress</li>
      </ul>
    </div>
    <h3 class="category-design">Graphic Design</h3>
    <div class="graphic-design-wrapper">
      <ul class="graphic-design">
        <li class="skill"><i class="fas fa-photo-video" style="color: #00c6fa;"></i>Photoshop</li>
        <li class="skill"><i class="fas fa-vector-square" style="color: #ff7c00;"></i>Illustrator</li>
      </ul>
      <ul class="graphic-design">
        <li class="skill"><i class="far fa-newspaper" style="color: #e10186;"></i>InDesign</li>
        <li class="skill"><i class="fas fa-image" style="color: #add0e4;"></i>Lightroom</li>
      </ul>
      <ul class="graphic-design">
        <li class="skill"><i class="fas fa-paint-brush" style="color: #d0822e;"></i>Gimp</li>
        <li class="skill"><i class="fas fa-mountain" style="color: #000000;"></i></i>Inkscape</li>
      </ul>
    </div>
    <h3 class="category-seo">Team Building</h3>
    <div class="seo-wrapper">
      <ul class="primera">
        <li class="skill"><i class="fab fa-trello" style="color: #0379c2;"></i>Trello</li>
        <li class="skill"><i class="fas fa-chart-bar" style="color: #e87205;"></i>Scrum</li>
      </ul>
      <ul class="primera">
        <li class="skill"><i class="fas fa-code-branch" style="color: #dd4b25;"></i>Git</li>
        <li class="skill"><i class="fas fa-chart-bar" style="color: #e87205;"></i>Github</li>
      </ul>
    </div>
    <p class="paragraph-linkedin">
        You can see more details in my <!--<a href="https://www.linkedin.com/in/%C3%A1ngela-benavente-almaz%C3%A1n-436003174/" class="btn-text">LinkedIn &rarr;</a> or downloading my CV--></p>
      <div class="download-cv-button">
        <a class="download-cv-link" href="../pdfs/reporte2-05-10.pdf" download="Reporte2Mayo2010">Curriculum Vitae (PDF)</a>
      </div>
  </section>
  <section id="work" class="main__work">
      <div class=main__work__cover>
          <h2>Work</h2>
          <nav class=navigation-work>
            <a href="./index.html#home">Home</a>
            <span>&nbsp/&nbsp</span>
            <a href="./index.html#about">About</a>
            <span>&nbsp/&nbsp</span>
            <a href="./index.html#contact">Contact</a>
          </nav>
        </div>
    <!--<div class="desktop"><img class= "desktop-image" src="./assets/images/pantalla.svg">-->
    <div class="first-proyect">
      <div class="first-proyect-image"><img class="first-proyect-image about-us-image" src="./assets/images/proxy-image.png">
        <div><a><i class="fas fa-chevron-up"></i></a></div></div>
      <div class="first-proyect-description">
        <h3>Anonymous Proxy</h3>
        <p>Responsive design proyect</p>
        <p>HTML | SASS | JS | GULP</p>
        <button class="seeMore-button"><a>See more details</a></button>
        <div><a><i class="fas fa-chevron-down"></i></a></div>
      </div>
   </div>
   <div class="second-proyect">
      <div class="second-proyect-image"><img class="second-proyect-image about-us-image" src="./assets/images/inheritCode.png"><div><a><i class="fas fa-chevron-up"></i></a></div></div>
      <div class="second-proyect-description">
        <h3>Awesome Profile Cards</h3>
        <p>App to generare & share proffesional cards</p>
        <p>REACT | APIs | SASS | JS | GULP</p>
        <button class="second-seeMore-button"><a>See more details</a></button>
        <div><a><i class="fas fa-chevron-down"></i></a></div>
      </div>
   </div>
   <div class="third-proyect">
      <div class="third-proyect-image"><img class="third-proyect-image about-us-image" src="./assets/images/DiceGameCover.png"><div><a><i class="fas fa-chevron-up"></i></a></div></div>
      <div class="third-proyect-description">
        <h3>Dice Pig Game</h3>
        <p>Game for two</p>
        <p>HTML | CSS | JS </p>
        <button class="third-seeMore-button"><a>See more details</a></button>
        <div><a><i class="fas fa-chevron-down"></i></a></div>
      </div>
   </div>
   <div class="fourth-proyect">
      <div class="fourth-proyect-image"><img class="fourth-proyect-image about-us-image" src="./assets/images/aboutusCover.png"><div><a><i class="fas fa-chevron-up"></i></a></div></div>
      <div class="fourth-proyect-description">
        <h3>Contact with us!</h3>
        <p>Web for contact between company and workers</p>
        <p>HTML | CSS | JS | GULP </p>
        <button class="fourth-seeMore-button"><a>See more details</a></button>
      </div>
   </div>
    <!--<div class=adalab-about-us><img class="about-us-image" src="./assets/images/aboutusCover.png"></div>-->
    

      
  </section>
  <section id="contact" class="main__contact">
      <div class=main__contact__cover>
          <h2>Contact</h2>
          <nav class=navigation-contact>
            <a href="./index.html#home">Home</a>
            <span>&nbsp/&nbsp</span>
            <a href="./index.html#about">About</a>
            <span>&nbsp/&nbsp</span>
            <a href="./index.html#work">Work</a>
          </nav>
        </div>
      <div class="main__contact__content">
        <h3>Ángela Benavente Almazán</h3>
        <h4>Front developer & Graphic Designer</h4>
        <p class="heading-final u-margin-bottom-small"> If you want to collaborate you are very welcome to contact me.</p>
        <p class="paragraph">
          I am available for freelance projects and full-time employment.
          </p><br>

          <div class="contact-button">
              <a class="btn-text">
                <i class="social-icon fas fa-map-marker-alt"></i>
              </a>
              <p class="social">Madrid, Spain</p>
          </div>
          <div class="contact-button">
              <a href="https://www.linkedin.com/in/%C3%A1ngela-benavente-almaz%C3%A1n-436003174/" class="btn-text">
                <i class="social-icon fab fa-linkedin"></i>
              </a>
              <p class="social">Ángela Benavente Almazán</p>
          </div>
          <div class="contact-button">
              <a href="https://github.com/angelabenavente" class="btn-text">
                <i class="social-icon fab fa-github"></i>
              </a>
              <p class="social">@angelabenavente</p>
          </div>
          <div class="contact-button">
              <a href="https://github.com/angelabenavente" class="btn-text">
                <i class="social-icon fas fa-envelope-square"></i>
              </a>
              <p class="social">angela.b.almazan@gmail.com</p>
          </div>
          <div class="contact-button">
              <a href="tel:644154842" class="btn-text">
                <i class="social-icon fas fa-phone-square-alt"></i>
              </a>
              <p class="social">+0034 644154842</p>
          </div>



          
    </div>
  </section>
</main>