<main class="main">
 
  <section id="work" class="main__work">
    <partial src="./_about.html" label="About Section"></partial>
    <partial src="./sections/_anchors.html" label="Anchors"></partial>
    <partial src="./sections/_project-1.html" label="Project 1"></partial>
    <partial src="./sections/_project-2.html" label="Project 2"></partial>
    <partial src="./sections/_project-3.html" label="Project 3"></partial>
    <partial src="./sections/_project-4.html" label="Project 4"></partial>
    <partial src="./sections/_project-5.html" label="Project 5"></partial>
    <partial src="./sections/_project-6.html" label="Project 6"></partial>
    <partial src="./sections/_project-7.html" label="Project 7"></partial>
  </section>  
</main>

