<section id="work" class="main__work">
  <div class="first-proyect proyect">
    <div class="first-proyect-image image">
        <p>ANONYMOUS PROXY</p>
        <small>Another technical test</small>
    </div>

    <div class="first-proyect-description description">
      <h3>Anonymous Proxy</h3>
      <p>Responsive design proyect</p>
      <p>HTML | SASS | JS | GULP</p>
      <button class="seeMore-button"><a href="./proxyWork.html">See more details</a></button>
      <div>
        <a href="#cardsWork"><i class="fas fa-chevron-down"></i></a>
      </div>
    </div>
  </div>

  <div class="second-proyect proyect">
    <div id="cardsWork" class="second-proyect-image image">
      <a><i class="fas fa-chevron-up"></i></a>
      <div class="cardIcons">
        <i class="far fa-object-ungroup"></i></span>
        <i class="far fa-keyboard"></i></span> 
        <i class="fas fa-share-alt"></i></span>
      </div>
    </div>
    <div class="second-proyect-description description">
      <h3>Awesome Profile Cards</h3>
      <p>App to generare & share proffesional cards</p>
      <p>REACT | APIs | SASS | JS | GULP</p>
      <button class="second-seeMore-button"><a href="./_mainCardsWork">See more details</a></button>
      <div><a href="#gameWork"><i class="fas fa-chevron-down"></i></a></div>
    </div>
  </div>
  <div class="third-proyect proyect">
    <div id="gameWork" class="third-proyect-image image">
      <div class="diceGame">
        <div class="gameHero"><p class="gameTitle">Dice <br>Pig <br>Game</p>
        <img src="./assets/images/dicesImage.png"></div>
        <div class="rollUp"><small>Roll up!</small></div>
      </div>
    </div>
    <div class="third-proyect-description description">
      <h3>Dice Pig Game</h3>
      <p>Game for two</p>
      <p>HTML | CSS | JS </p>
      <button class="third-seeMore-button"><a href="./_mainDiceWork.html">See more details</a></button>
      <div><a href="#contactWork"><i class="fas fa-chevron-down"></i></a></div>
    </div>
  </div>
  <div class="fourth-proyect proyect">
    <div id="contactWork" class="fourth-proyect-image image">
      <div class="contactMenu">
        <div class="contactIcon"><span>&#60; FS /&#62;</span></div>
        <div class="contactMenu-items">
          <span>Equipo</span>
          <span>Quienes somos</span>
          <span>Contacto</span></div>
        </div>
        <img class="fourth-proyect-image about-us-image-inside" src="./assets/images/aboutImage.png">
        <p class="frontSide">&#60; Front Side /&#62; </p>
      </div>
      <div class="fourth-proyect-description description">
        <h3>Contact with us!</h3>
        <p>Web for contact with work teams</p>
        <p>HTML | CSS | JS | GULP </p>
        <button class="fourth-seeMore-button"><a href="./_mainAboutWork.html">See more details</a></button>
      </div>
    </div>  
</section>
