<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ángela Benavente</title>
    <script type="text/javascript" src="_src/assets/js/main.js"></script>
    <script src="https://kit.fontawesome.com/e59b107cf3.js"></script>
  
    <link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="img/eye.png">
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
        
  <body>
    <div class="page">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_hero.html" label="Hero"></partial>
      <partial src="_main.html" label="Main"></partial>
    </div>
    <script src="../assets/js/main.js" language="javascript" type="text/javascript"></script>
  </body>
</html>
