<div id="anchor-toc" class="works-scroll">
  <ul>
    <li>
      <a data-scroll href="#anchor-1">
        <i id="firstProjectPosition" class="nav-work-link fas fa-circle"></i>
      </a>
    </li>
    <li>
      <a data-scroll href="#anchor-2">
        <i id="secondProjectPosition" class="nav-work-link far fa-circle"></i>
      </a>
    </li>
    <li>
      <a data-scroll href="#anchor-3">
        <i id="thirdProjectPosition" class="nav-work-link far fa-circle"></i>
      </a>
    </li>
    <li>
      <a data-scroll href="#anchor-4">
        <i id="fourthProjectPosition" class="nav-work-link far fa-circle"></i>
      </a>
    </li>
  </ul>
</div>