<div id="anchor-toc" class="works-scroll">
  <ul>
    <li>
      <a href="#anchor-1" onclick="smoothScroll('anchor-1');">
        <i id="firstProjectPosition" class="fas fa-circle"></i>
      </a>
    </li>
    <li>
      <a href="#anchor-2" onclick="smoothScroll('anchor-2');">
        <i id="secondProjectPosition" class="far fa-circle"></i>
      </a>
    </li>
    <li>
      <a href="#anchor-3" onclick="smoothScroll('anchor-3');">
        <i id="thirdProjectPosition" class="far fa-circle"></i>
      </a>
    </li>
    <li>
      <a href="#anchor-4" onclick="smoothScroll('anchor-4');">
        <i id="fourthProjectPosition" class="far fa-circle"></i>
      </a>
    </li>
  </ul>
</div>