<div id="anchor-toc" class="works-scroll">
  <ul>
    <li>
      <a data-scroll href="#anchor-1">
        <i id="firstProjectPosition" class="nav-work-link selected fas fa-circle"><span class="workTitle">Anonymous proxy</span></i>
      </a>
    </li>
    <li>
      <a data-scroll href="#anchor-2">
        <i id="secondProjectPosition" class="nav-work-link unselected fas fa-circle"><span class="workTitle">Awesome Profile Cards</span></i>
      </a>
    </li>
    <li>
      <a data-scroll href="#anchor-3">
        <i id="thirdProjectPosition" class="nav-work-link unselected fas fa-circle"><span class="workTitle">Dice Pig Game</span></i>
      </a>
    </li>
    <li>
      <a data-scroll href="#anchor-4">
        <i id="fourthProjectPosition" class="nav-work-link unselected fas fa-circle"><span class="workTitle">Contact us!</span></i>
      </a>
    </li>
    <li>
      <a data-scroll href="#anchor-5">
        <i id="fifthProjectPosition" class="nav-work-link unselected fas fa-circle"><span class="workTitle">Series Around The World</span></i>
      </a>
    </li>
    <li>
      <a data-scroll href="#anchor-6">
        <i id="sixthProjectPosition" class="nav-work-link unselected fas fa-circle"><span class="workTitle">Budgety</span></i>
      </a>
    </li>
    <li>
      <a data-scroll href="#anchor-7">
        <i id="seventhProjectPosition" class="nav-work-link unselected fas fa-circle"><span class="workTitle">Rick & Morty Characters</span></i>
      </a>
    </li>
  </ul>
</div>