<div id="anchor-5" class="largeBlock listen-scroll">
  <div id="fifth-project" class="fifth-proyect proyect">
    <div id="gameWork" class="fifth-proyect-image image"></div>
    <div class="fifth-proyect-description description">
      <h3>Series Around The World</h3>
      <p>Web to search international series (in progress)</p>
      <p>HTML | SASS | JS | APIs | LocalStore</p>
      <div class="linksInfoProject">
        <button class="seeMore-button">
          <a id="seePlaceLink" href="https://angelabenavente.github.io/SeriesAroundTheWorld/" target="_blank">Visit place</a>
          <!--<a href="./proxyWork.html">Visit place</a>-->
        </button>
        <button class="seeMore-button">
          <a id="seeCodeLink" href="https://github.com/angelabenavente/SeriesAroundTheWorld" target="_blank">See code</a>
        </button>
      </div>
      <a class="nextSection" data-scroll href="#anchor-6">
          <i id="fifthProjectPosition" class="nav-work-link fas fa-angle-down"></i>
        </a>
    </div>
  </div>
</div>