<div id="anchor-5" class="largeBlock listen-scroll">
  <div id="third-project" class="third-proyect proyect">
    <div id="gameWork" class="third-proyect-image image"></div>
    <div class="third-proyect-description description">
      <h3>Dice Pig Game</h3>
      <p>Game for two</p>
      <p>HTML | CSS | JS</p>
      <div class="linksInfoProject">
        <button class="seeMore-button">
          <a id="seePlaceLink" href="https://angelabenavente.github.io/DicePigGame/" target="_blank">Visit place</a>
          <!--<a href="./proxyWork.html">Visit place</a>-->
        </button>
        <button class="seeMore-button">
          <a id="seeCodeLink" href="https://github.com/angelabenavente/DicePigGame" target="_blank">See code</a>
        </button>
      </div>
      <a class="nextSection" data-scroll href="#anchor-4">
          <i id="secondProjectPosition" class="nav-work-link fas fa-angle-down"></i>
        </a>
    </div>
  </div>
</div>