<div id="anchor-3" class="largeBlock listen-scroll">
  <div id="third-project" class="third-proyect main__project">
    <div id="gameWork" class="third-proyect-image main__project__image"></div>
    <div class="third-proyect-description main__project__description">
      <h3 class="main__project__description-title">Dice Pig Game</h3>
      <p>Game for two</p>
      <p>HTML | CSS | JS</p>
      <div class="main__project__description-title-links">
        <button class="seeMore-button">
          <a class="linkToProject" id="seePlaceLink" href="https://angelabenavente.github.io/DicePigGame/" target="_blank">Visit place</a>
          <!--<a href="./proxyWork.html">Visit place</a>-->
        </button>
        <button class="seeMore-button">
          <a class="linkToProject" id="seeCodeLink" href="https://github.com/angelabenavente/DicePigGame" target="_blank">See code</a>
        </button>
      </div>
      <a class="nextSection" data-scroll href="#anchor-4">
          <i id="thirdProjectPosition" class="navigation__item fas fa-angle-down"></i>
        </a>
    </div>
  </div>
</div>