<div id="anchor-1" class="largeBlock listen-scroll">
  <div id="first-project" class="first-proyect main__project">
    <div id="project-image" class="first-proyect-image main__project__image"></div>
    <div id="project-description" class="main__project__description">
      <div class="textWorks">
        <h3 class="main__project__description-title" id="projectTitle">Anonymous Proxy</h3>
        <p id="projectDescription">Responsive design project</p>
        <p id="projectSkills">HTML | SASS | JS | GULP</p>
        <div class="main__project__description-title-links">
          <button class="seeMore-button">
            <a class="linkToProject" id="seePlaceLink" href="http://beta.adalab.es/evaluacion-final-modulo-1-angelabenavente/" target="_blank">Visit place</a>
          </button>
          <button class="seeMore-button">
            <a class="linkToProject" id="seeCodeLink" href="https://github.com/angelabenavente/evaluacion-final-modulo-1-angelabenavente" target="_blank">See code</a>
          </button>
        </div>
        <a class="nextSection" data-scroll href="#anchor-2">
          <i id="secondProjectPosition" class="navigation__item fas fa-angle-down"></i>
        </a>
      </div>
    </div>
  </div>
</div>