<div id="anchor-4" class="largeBlock listen-scroll">
  <div id="fourth-project" class="fourth-proyect main__project">
    <div id="contactWork" class="fourth-proyect-image image"></div>
    <div class="fourth-proyect-description description">
      <h3 class="main__project__description-title">Contact with us!</h3>
      <p>Web for contact with work teams</p>
      <p>HTML | CSS | JS | GULP </p>
      <div class="main__project__description-title-links">
        <button class="seeMore-button">
          <a class="linkToProject" id="seePlaceLink" href="http://beta.adalab.es/project-promo-h-module-1-team-2-afternoon-sprint-2-/" target="_blank">Visit place</a>
          <!--<a href="./proxyWork.html">Visit place</a>-->
        </button>
        <button class="seeMore-button">
          <a class="linkToProject" id="seeCodeLink" href="https://github.com/Adalab/project-promo-h-module-1-team-2-afternoon-sprint-2-" target="_blank">See code</a>
        </button>
        <a class="nextSection linkToHome" data-scroll href="#anchor-5">
          <i id="fourthProjectPosition" class="nav-work-link fas fa-angle-down"></i>
        </a>
      </div>
    </div>
  </div>
</div>