<div id="anchor-2" class="largeBlock listen-scroll">
  <div id="second-project" class="second-proyect main__project">
    <div id="cardsWork" class="second-proyect-image main__project__image"></div>
    <div class="main__project__description second-proyect-description description">
      <h3 class="main__project__description-title">Awesome Profile Cards</h3>
      <p>App to generare & share proffesional cards</p>
      <p>REACT | APIs | JS | GULP | LocalStore</p>
      <div class="main__project__description-title-links">
        <button class="seeMore-button">
          <a id="seePlaceLink" class="linkToProject" href="http://beta.adalab.es/project-promo-h-module-3-team-2-afternoon/" target="_blank">Visit place</a>
          <!--<a href="./proxyWork.html">Visit place</a>-->
        </button>
        <button class="seeMore-button">
          <a id="seeCodeLink" class="linkToProject" href="https://github.com/Adalab/project-promo-h-module-3-team-2-afternoon" target="_blank">See code</a>
        </button>
      </div>
      <a class="nextSection" data-scroll href="#anchor-3">
          <i id="secondProjectPosition" class="navigation__item fas fa-angle-down"></i>
        </a>
    </div>
  </div>
</div>