<div id="anchor-6" class="largeBlock listen-scroll">
  <div id="sixth-project" class="sixth-proyect main__project">
    <div id="contactWork" class="sixth-proyect-image image"></div>
    <div class="sixth-proyect-description description">
      <h3 class="main__project__description-title">Ricky & Morty Characters</h3>
      <p>Web to search the serie characters</p>
      <p>REACT | APIs | SASS | JS | Router</p>
      <div class="main__project__description-title-links">
        <button class="seeMore-button">
          <a class="linkToProject" id="seePlaceLink" href="http://beta.adalab.es/modulo-3-evaluacion-final-angelabenavente/" target="_blank">Visit place</a>
          <!--<a href="./proxyWork.html">Visit place</a>-->
        </button>
        <button class="seeMore-button">
          <a class="linkToProject" id="seeCodeLink" href="https://github.com/angelabenavente/RickyMortyCharacters" target="_blank">See code</a>
        </button>
      </div>
      <a class="nextSection linkToHome" data-scroll href="#anchor-7">
        <i id="sixthProjectPosition" class="nav-work-link fas fa-angle-down"></i>
      </a>
    </div>
  </div>
</div>