<div id="anchor-2" class="largeBlock listen-scroll">
  <div id="second-project" class="second-proyect proyect">
    <div id="cardsWork" class="second-proyect-image image"></div>
    <div class="second-proyect-description description">
      <h3>Awesome Profile Cards</h3>
      <p>App to generare & share proffesional cards</p>
      <p>REACT | APIs | SASS | JS | GULP</p>
      <div class="linksInfoProject">
        <button class="seeMore-button">
          <a id="seePlaceLink" href="http://beta.adalab.es/project-promo-h-module-3-team-2-afternoon/" target="_blank">Visit place</a>
          <!--<a href="./proxyWork.html">Visit place</a>-->
        </button>
        <button class="seeMore-button">
          <a id="seeCodeLink" href="https://github.com/Adalab/project-promo-h-module-3-team-2-afternoon" target="_blank">See code</a>
        </button>
      </div>
      <!-- <p class="nextSectionButton">
        <a href="#about">&#8595</a>
      </p> -->
    </div>
  </div>
</div>