<div id="anchor-4" class="largeBlock listen-scroll">
  <div id="fourth-project" class="fourth-proyect proyect">
    <div id="contactWork" class="fourth-proyect-image image"></div>
    <div class="fourth-proyect-description description">
      <h3>Contact with us!</h3>
      <p>Web for contact with work teams</p>
      <p>HTML | CSS | JS | GULP </p>
      <div class="linksInfoProject">
        <button class="seeMore-button">
          <a id="seePlaceLink" href="http://beta.adalab.es/project-promo-h-module-1-team-2-afternoon-sprint-2-/" target="_blank">Visit place</a>
          <!--<a href="./proxyWork.html">Visit place</a>-->
        </button>
        <button class="seeMore-button">
          <a id="seeCodeLink" href="https://github.com/Adalab/project-promo-h-module-1-team-2-afternoon-sprint-2-" target="_blank">See code</a>
        </button>
        <a class="nextSection linkToHome" data-scroll href="#about">
            <i id="lastProjectPosition" class="nav-work-link fas fa-angle-up"></i><h3 class="backToHome">TOP</h3>
          </a>
      </div>
      
    </div>

  </div>
</div>