<div id="anchor-7" class="largeBlock listen-scroll">
  <div id="seventh-project" class="seventh-proyect main__project">
    <div id="cardsWork" class="seventh-proyect-image image"></div>
    <div class="seventh-proyect-description description">
      <h3 class="main__project__description-title">Budgety</h3>
      <p>App to control your expenses and incomes</p>
      <p>HTML | CSS | JS</p>
      <div class="main__project__description-title-links">
        <button class="seeMore-button">
          <a class="linkToProject" id="seePlaceLink" href="https://angelabenavente.github.io/Budgety" target="_blank">Visit place</a>
          <!--<a href="./proxyWork.html">Visit place</a>-->
        </button>
        <button class="seeMore-button">
          <a class="linkToProject" id="seeCodeLink" href="https://github.com/angelabenavente/Budgety" target="_blank">See code</a>
        </button>
        <a class="nextSection linkToHome" data-scroll href="#about">
          <i id="lastProjectPosition" class="nav-work-link fas fa-angle-up"></i>
        </a>
    </div>
  </div>
</div>