@keyframes notShow {
  0% {
    width: 100vw;
    height: 100vh;
  top:0;
  bottom:0;
  //right: 0;
//left: -100;
opacity: 1;}
  100% {
    // right: 5vw;
    // left: 5vw;
    //left: 200vh;
    left: 0;
    top: -60vh;
    //bottom:10vh;
    width: 100vw;
    height: 0vh;
    //opacity: 0;
  } }


    @keyframes showIntro {
      0% {
        bottom: -50px}
      100% {
        // right: 5vw;
        // left: 5vw;
        bottom: 20px; } }

    @keyframes disappearToLeft {
      0% {
        width: 100vw;
        height: 50vh;
      left: 0;
      //top: 0vh;
    }
      50% {
        //width: 90vw;
        //height: 40vh;
        //left: 25vh;
        //top: 10vh;
      }
      100% {
        width: 90vw;
            height: 40vh;
        //top: 10vh;
        left: 100vw;
      } }
        @keyframes disappearToRight {
          0% {
            width: 100vw;
            height: 50vh;
          right: 0;
          //top: 50vh;
        }
          50% {
            width: 90vw;
            height: 40vh;
            right: 0vw;
            //top: 50vh;
          }
          100% {
            width: 90vw;
            height: 40vh;
            //top: 50vh;
            right: 100%;
          } }

  @keyframes moveToLeft {
    0% { left: 0;
      width: 100%}
    100%{ left: 100%;
      width:0;}}

    @keyframes moveToRight {
      0% { right: 0;
        width:100%;}
      100%{ right: 100%;
        width:0;}}

.hero {
  //z-index: 10000;
  display: flex;
  flex-direction: column;
  //position: absolute;
  height: 100vh;
  width: 100vw;
  //position: absolute;
  //background-color: transparent;
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 25px;
  border: none;
  -webkit-animation: notShow 1s ease-in-out;
  animation: notShow 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 4.7s;
  &__presentation {
    z-index: 100;
    margin: auto;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  .topContainer{
    background-size: cover;
    position: absolute;
    background-color: #0c0c0c;
    //background-image: url('/assets/images/hero.png');
    height: 50%;
    width: 100%;
    top: 0vh;
    -webkit-animation: moveToLeft 1s ease-in-out;
  animation: moveToLeft 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 6.5s;


  }
  .bottomContainer{
    position: absolute;
    bottom: 0vh;
    //background-image: url('/assets/images/hero.png');
    background-size: cover;
    background-color: #0c0c0c;
    height: 50%;
    width: 100%;

    -webkit-animation: moveToRight 1s ease-in-out;
  animation: moveToRight 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 6.5s;

  }
}
.intro{
  position: absolute;
  bottom: -50px;
  -webkit-animation: intro 1s ease-in-out;
  animation: intro 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.line-through{
  position: absolute;
  top: 100%;
  height: 2px;
  background-color: aliceblue;
  z-index: 2;
  width: 100%;
}

////////////
.container {
  width: 100%;
  //padding: 1vw;
  position: absolute;
  height: 10px;
  top: 100%;
  z-index:2;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: 400px;
  font-size: 20px;
}

.background-color p {
  color: #000;
  font-size: 3vw;
  font-weight: bold;
  letter-spacing: 0;
  max-width: 700px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400px;
  font-size: 20px;
  background: rgba(255, 253, 160, 1);
  background: -webkit-linear-gradient( left, #1a9288 0%, #1a9274 25%, #1a5c92 50%, rgb(42, 104, 96)100%) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 50s;
  //-webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 100%;
  //top: -50vh;
  position: absolute;
}
hr {
  position: absolute;
  //background: rgba(255, 253, 160, 1);
  color: black;
    background: linear-gradient( left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
    height: 3px;
    left: -3px;
    width: 100%;
    //top: -50vh;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 18s;
  //-webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    left: 0;
  }
 50% {
   left: 0;
   opacity: 1;
 }
 90%{
  left: 100%;
 }
  100% {
    background-position: -8000px -3000px;
    opacity: 0;
    left: 100%;
  }
}

/////////////
/////////////
svg.intro {
  //background: linear-gradient(135deg, #aa3bb1, #582a7e);
  width: 95%;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0c0c0c;
  z-index: 2;
  //box-shadow: 0 30px 50px -20px rgb(46, 6, 66);
  
  .text { 
    display: none;
  }
  &.go {
    background-color: transparent;
    .text {
      font-family: 'Cuprum', sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      display: block;
    }
    .text-stroke {
      fill: none;
      stroke: white;
      stroke-width: 2.5px;
      stroke-dashoffset: -900;
      stroke-dasharray: 900;
      stroke-linecap: butt;
      stroke-linejoin: round;
      animation: dash 1.8s ease-in-out forwards;
    }
    .text-stroke:nth-child(2) {
      animation-delay: .2s;
    }
    .text-stroke:nth-child(3) {
      animation-delay: .8s;
    }
    .text-stroke-2 {
      stroke: #f6bdfa;
      animation-delay: 5.1s;
    }
    .text-stroke-2 {
      stroke: white;
      animation-delay: 2.1s;
    }
    .text-stroke:nth-child(5) {
      animation-delay: 2.1s;
    }
    .text-stroke:nth-child(6) {
      animation-delay: 2.7s;
    }
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

.reload {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #fff;
  border: none;
  border-radius: 20px;
  outline: none!important;
  font-size: 11px;
  line-height: 1.5;
  padding: 8px 12px;
  text-transform: uppercase;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 6px 7px #350e4c;
  transition: all .1s cubic-bezier(.67, .13, .1, .81);
  &:hover {
    box-shadow: 0 4px 4px #350e4c;
    transform: translateY(1px);
  }
  &:active {
    box-shadow: 0 1px 2px #244B94;
    transform: translateY(2px);
  }
  svg {
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
}

.job{
  font-family: 'Cuprum', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      //display: block;
      letter-spacing: 4px;
      //position: absolute;
      //top: 40vh;
      -webkit-animation: showJob 2s ease-in-out;
  animation: showJob 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2.8s;
  bottom: 16%;
  opacity: 0;
  height: 23px;
  text-align: right;
  padding: 14px;
  position: absolute;
  /* top: 100vh; */
  //top: 5%;
  bottom: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
@include mobileMedium {
  bottom: 28%;
}
@include mobilePlus {
  bottom: 22%;
}

@include tabletMin {
  bottom: 20%;
}

@include tablet {
  bottom: 16%;
}


}
.jobSpan{
  z-index:2;
  background-color: #0c0c0c;
  color:  #0c0c0c;
  font-family: 'Cuprum', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      //display: block;
      letter-spacing: 4px;
      //position: absolute;
      //top: 40vh;
  //     -webkit-animation: showJob 2s ease-in-out;
  // animation: showJob 2s ease-in-out;
  // animation-fill-mode: forwards;
  // animation-delay: 3s;
  bottom: 16%;
  text-align: right;
  padding: 14px;
  position: absolute;
  /* top: 100vh; */
  //top: 5%;
  //height: 61px;
  bottom: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
@include mobileMedium {
  bottom: 34%;
}
@include mobilePlus {
  bottom: 28%;
}

@include tabletMin {
  bottom: 26%;
}

@include tablet {
  bottom: 22%;
}


}

@keyframes showJob {
  0%{
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height:23px;
  }
}