@keyframes notShow {
  0% {
    height: 100vh;
    opacity: 1;
  }
  100% {
    height: 0vh;
    opacity: 0.5;
  }
}

@keyframes translateTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin { 
  0% {
    opacity: 0;
    transform: rotate(0deg); 
  }
  3% {
    opacity: 1;
  }
  100% { 
    transform: rotate(360deg);
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes showJob {
  0%{
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 23px;
  }
}

.hero {
  position: relative;
  z-index: 800;
  height: 100vh;
  width: 100%; // width: 100vw; - con vw cuenta también el scroll y se descentra
  padding: 0 25px;
  background-color: #070707;
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;

  animation: notShow 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 5.4s;
  will-change: height;

  &__wrapper {
    position: absolute;
    height: 100vh;
    width: 100%;
    padding: 0 25px;
    top: 0;
    left: 0;

    animation: translateTop 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 5.4s;
    will-change: translate;
  }
  
  &__background {
    position: absolute;
    width: 60vw;
    top: 50vw;
    left: 12vh;

    animation-name: spin;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    @include mobileMedium {
      top: 21vh;
      left: 15vw;
    }

    @include mobilePlus {
      top: 16vh;
      left: 22vw;
    }

    @include tabletMin {
      top: 10vh;
      left: 24vw;
    }

    @include tablet {
      top: unset;
      left: 21vw;
    }

    @include desktopMin {
      top: -1vh;
      left: 20vw;
    }
  }
}

/* SVG ANIMATION */
.intro {
  bottom: -50px; 
  position: absolute;
  -webkit-animation: intro 3s ease-in-out;
  animation: intro 3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

svg.intro {
  width: 95%;
  max-width: 800px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #0c0c0c;
  -webkit-animation: intro 3s ease-in-out;
  animation: intro 3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  @include tablet {
    top: 45%;
  }
  
  .text { 
    display: none;
  }

  &.go {
    background-color: transparent;
    .text {
      display: block;
      font-family: 'Cuprum', sans-serif;
      font-size: 20px;
      text-transform: uppercase;
    }
    
    .text-stroke {
      stroke-width: 2.5px;
      stroke-dashoffset: -900;
      stroke-dasharray: 900;
      fill: none;
      stroke: white;
      stroke-linecap: butt;
      stroke-linejoin: round;
      animation: dash 1.8s ease-in-out forwards;
      &:nth-child(2) {
        animation-delay: .2s;
      }
      &:nth-child(3) {
        animation-delay: .8s;
      }
      &-2 {
        stroke: #f6bdfa;
        animation-delay: 5.1s;
      }
      &-2 {
        stroke: white;
        animation-delay: 2.1s;
      }
      &:nth-child(5) {
        animation-delay: 2.1s;
      }
      &:nth-child(6) {
        animation-delay: 2.7s;
      }
    }
  }
}

.reload {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  outline: none !important;
  font-size: 11px;
  line-height: 1.5;
  text-transform: uppercase;
  background: #fff;
  box-shadow: 0 6px 7px #350e4c;
  transition: all .1s cubic-bezier(.67, .13, .1, .81);
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 4px #350e4c;
    transform: translateY(1px);
  }
  &:active {
    box-shadow: 0 1px 2px #244B94;
    transform: translateY(2px);
  }
  svg {
    position: relative;
    top: -2px;
    vertical-align: middle;
  }
}

/* JOB ANIMATION */
.job {
  position: absolute;
  bottom: 41%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: right;
  opacity: 0;

  animation: showJob 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2.8s;

  @include mobileMedium {
    bottom: 36%;
  }
  @include mobilePlus {
    bottom: 32%;
  }
  @include tabletMin {
    bottom: 28%;
  }
  @include tablet {
    bottom: 20%;
    font-size: 32px;
  }
}