@keyframes notShow {
  0% {
    opacity: 1;
    width: 100vw;
    height: 100vh;}
  100% {
    opacity: 0;
    width: 60px;
    height: 60px; } }

    @keyframes disappearToLeft {
      0% {
        width: 100vw;
        height: 50vh;
      left: 0;
      top: 0vh;}
      50% {
        width: 90vw;
        height: 40vh;
        left: 5vw;
        top: 10vh;
      }
      100% {
        width: 90vw;
            height: 40vh;
        top: 10vh;
        left: 100%;} }
        @keyframes disappearToRight {
          0% {
            width: 100vw;
            height: 50vh;
          right: 0;
          top: 50vh;}
          50% {
            width: 90vw;
            height: 40vh;
            right: 5vw;
            top: 50vh;
          }
          100% {
            width: 90vw;
            height: 40vh;
            top: 50vh;
            right: 100%;} }

  @keyframes moveToLeft {
    0% { left: 0;}
    100%{ left: 100%;}}

.hero {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #0c0c0c;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  //padding: 0 24px;
  border: none;
  //-webkit-animation: notShow 3s ease-in-out;
  //animation: notShow 3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  &__presentation {
    z-index: 100;
    margin: auto;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  .topContainer{
    position: absolute;
    background-color: aliceblue;
    height: 50vh;
    width: 100vw;
    top: 0vh;
    -webkit-animation: disappearToLeft 3s ease-in-out;
  animation: disappearToLeft 3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;


  }
  .bottomContainer{
    position: absolute;
    top: 50vh;
    
    background-color: aquamarine;
    height: 50vh;
    width: 100vw;

    -webkit-animation: disappearToRight 3s ease-in-out;
  animation: disappearToRight 3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;

  }
}