.main{

  &__aboutMe {
    position: relative;
    top: 0;
    z-index: 10;

    width: 100%;
    background-color: #252525;
    font-size: 16px;

    @include tablet {
      display: flex;
      flex-direction: row;

      font-size: 18px;
    }

    &__cover {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      top: 0;

      width: 100%;
      height: 100vh;
      padding-bottom: 60px;
      background-image: url('/assets/images/perfilCover.png');
      background-size: cover;
      background-position-x: center;
      background-color: white;
      text-transform: uppercase;
      color: white;
      
      @include tablet {
        position: sticky;
        width: 49.95vw;
        height: 100vh;
      }

      @include desktopMin {
        width: 50.05vw;
      }
    }
    
    &__content {
      padding: 50px 25px;
      background-color: #252525;
      color: white;

      @include tablet {
          width: 50vw;
          padding: 50px;
      }

      &-formation {
        padding: 15px 0;
        color: white;

        &-box {
          background-color: #27272773;
          box-shadow: #000000b5 5px 5px 5px;
          border-bottom: 2px solid #00000042;
          border-left: 2px solid #00000042;

          @include tablet {
            margin-top: 20px;
          }

          &-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            padding: 3px 10px;
            margin-top: 10px;
            border-bottom: 1px solid #33323242;
            border-left: 1px solid #33323242;
            cursor: pointer;

            &:hover  > .formation__bootcamp-arrow {
              color: orange;
            }
          }

          &-wrapper {
            padding: 3px 10px;
            border-bottom: 1px solid #33323242;
            border-left: 1px solid #33323242;
            font-size: 14px;

            @include tablet{
              font-size: 15px;
            }
          }
        }
      }

      &-downloadCV {
        padding: 24px 0 10px;
        cursor: pointer;

        &-button {
          width: 210px;
          padding: 2px;
          margin: auto;
          margin-bottom:20px;
          border: 3px solid #33323242;
          box-shadow: #000000b5 5px 5px 5px;
          border: 3px solid #00000042;
          background: linear-gradient(0deg, rgba(39,39,39,1) 0%, rgba(37,37,37,1) 100%);
          text-align: center;
          color: white;
          cursor: pointer;
  
          &:hover > a{
            color: orange;
          }
  
          &-link {
            color: white;
            padding: 8px, 12px;
          }
        }
      }
    }
  }
}
