.main{
&__aboutMe {
  width: 100%;
  z-index: 1;
  background-color: #252525;
  &__cover{
    z-index: 1;
    top: 0;
    display: table;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
    width: 100%;
    height: 100vh;
    background-color:#f7484e;
  }
  &__content {
    z-index: 1;
    background-color: #00000075;
    background-color: #252525;
    color: white;
    //color: #0c0c0c;
    padding: 50px 25px;
    @include tablet {
      padding: 50px;
    }
    &--formation {
      padding: 15px 0;
      color:  #0c0c0c;
      color: white;
      &--box {
        background-color: #27272773;
        //box-shadow: 5px 5px 5px #2f434470;
        box-shadow: #000000b5 5px 5px 5px;
        border-bottom: 2px solid #00000042;
        border-left: 2px solid #00000042;
        .bootcamp-view {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px solid #33323242;
          border-left: 1px solid #33323242;
          padding: 3px 5px;
          margin-top: 10px;
          cursor: pointer;
          &:hover  > .formation__bootcamp--arrow {
            color: orange;
          }
        }
        .master__header-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px solid #33323242;
          border-left: 1px solid #33323242;
          padding: 3px 5px;
          margin-top: 10px;
          cursor: pointer;
          &:hover  > .button-form {
            color: orange;
          }
        }
        .master__form {
          border-bottom: 1px solid #33323242;
          border-left: 1px solid #33323242;
          padding: 3px 5px;
          font-size: 14px;
          @include tablet{
            font-size: 15px;
          }
          
        }
        .validateInputsSection {
          border-bottom: 1px solid #33323242;
          border-left: 1px solid #33323242;
          padding: 3px 5px;
          font-size: 14px;
          @include tablet{
            font-size: 15px;
          }
         
        }
        .view-hidden {
          border-bottom: 1px solid #33323242;
          border-left: 1px solid #33323242;
          padding: 3px 5px;
          font-size: 14px;
          @include tablet{
            font-size: 15px;
          }
        }
        .formation-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px solid #33323242;
          border-left: 1px solid #33323242;
          padding: 3px 5px;
          margin-top: 10px;
          cursor: pointer;
          &:hover  > .button-form {
            color: orange;
          }
        }
        .courses-view {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px solid #33323242;
          border-left: 1px solid #33323242;
          padding: 3px 5px;
          margin-top: 10px;
          cursor: pointer;
          &:hover  > .formation__courses--arrow {
            color: orange;
          }
        }
      }
    }
    
  @include tablet {
    display: flex;
    flex-direction: row;
    &__cover{
      width: 50vw;
      height: 100vh;
      position: sticky;
    }
    &__content{
      width: 50vw;
      .skillsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .main__aboutMe__content--formation--box {
          margin-top: 20px;
        }
        .skillsWraper{
          width: 248px;
        }
        .seo{
          margin-top: 15px;
        }
      }
    }
  }
  }
}
}



