/*----ANIMATIONS----*/

@keyframes showHeader {
  0% {
    height: 0;
    top: -90px;
  }
  100% {
    height: 60px;
    display: flex;
    top: 0;
  }
}

@keyframes expande {
  0% {
    width: 60px;
    height: 60px;
    }
  100% {
    width: 200%;
    height: 200%;
  }
}

/*----HEADER-WRAPPER----*/

.header {
  position: fixed;
  top: -90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: baseline;
  z-index: 999;

  width: 100%;
  height: 0;
  padding-right: 24px;
  margin: 0;
  background-color: transparent;
  font-family: 'Cuprum', sans-serif;
  color: white;

  animation: showHeader 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 5.8s;

  /*----NAVIGATION-WRAPPER----*/

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: black;

    &__burger {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 60px;
      height: 60px;

      &-checkbox {
        display: none;

        &:checked {
          & ~ .navigationBackground {
            transform: scale(80);
          }
      
          & ~ .navigationWrapper {
            opacity: 1;
            width: 100vw;
          }
      
          & + .navigationButton {
            background-color: transparent !important;
          }
      
          & + .navigationButton .navigationIcon {
            background-color: transparent;
      
            &::before {
              top: 0;
              transform: rotate(135deg);
            }
            &::after {
              top: 0;
              transform: rotate(-135deg);
            }
          }
        }
      }

      &-button {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2000;

        height: 60px;
        width: 60px;
        margin-right: 15px;
        background-color: rgb(37, 37, 37);
        text-align: center;
        color: white;
        cursor: pointer;

        &:hover .navigationIcon::before {
          top: -1rem;
        }
        
        &:hover .navigationIcon::after {
          top: 1rem;
        }

        &-icon {
          position: relative;

          &::before {
            top: -.8rem;
          }

          &::after {
            top: .8rem;
          }

          &, &::before, &::after {
            display: inline-block;

            width: 3rem;
            height: 2px;
            background-color: #fff;
          }

          &::before, &::after {
            content: "";
            position: absolute;
            left: 0;

            transition: all .2s;
          }
        }
      }

      &-background {
        position: fixed;
        z-index: 1000;

        height: 35px;
        width: 35px;
        opacity: 2;
        background-color: rgb(37, 37, 37);
        background-image: radial-gradient(#02020202, #0202020d );

        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      }

/*----NAVIGATION-ACTIVE-WRAPPER----*/

      &-wrapper {
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1500;

        background-color: rgb(37, 37, 37);
        height: 100vh;
        width: 0;
        opacity: 0;

        will-change: opacity, width;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &-list {
          overflow: hidden;
          display: flex;
          flex-direction: column;

          width: 100vw;
          text-align: center;
          list-style: none;

          &-section {
            margin: auto;
            margin-top: 12px;
            margin-bottom: 5px;
            width: fit-content;
            border-bottom: 1px solid white;
            text-transform: uppercase;
            font-size: 1.7rem;
            color: white;
            letter-spacing: .2em;
            font-weight: 600;

            &-item {
              display: inline-block;

              margin: auto;
              margin-top: 4px;
              width: fit-content;
              font-size: 2.2rem;
              text-align: left;
              text-transform: capitalize;

              &:hover {
                box-shadow: inset 230px 0 0 0 #08B;

                transition: all 0.6s;
              } 

              &-link {
                font-size: 2rem;
              
                &:link, &:visited {
                  display: inline-block;

                  padding: 0rem 2rem;
                  padding-top: 0;
                  font-size: 2.1rem;
                  font-weight: 350;
                  color: #fff;
                  text-decoration: none;
                }
                
                &:hover, &:active {
                  color: #fff;
                  font-weight: 700;
                }
              }
            }
          }

          &-social {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            z-index: 10;

            width: 100px;
            padding: 5px 10px;
            padding-top: 4.5px;
            border: none;
            margin: auto;
            opacity: .85;
            background-color: rgb(37, 37, 37);
            text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.966);
            letter-spacing: .2em;
            font-size: 13px;
            text-transform: uppercase;
            color: white;

            @include tablet {
              margin-top: 8px;
              width: 130px;
              font-size: 19px;
            }

            &-button:hover {
              transform: scale(1.3);
            }

            &-link {
              margin: 0 7px;

              &:hover {
                color: white;
              }
            } 
          }   
        }  
      }
    }

/*----NAVIGATION-INLINE-WRAPPER----*/

    &__inline {
      z-index: 10;

      height: fit-content;
      padding: 5px 8px;
      margin-left: 8px;
      border-radius: 15px;
      background-color: #0202020d;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.55);
      letter-spacing: .2em;
      font-size: 12px;
      text-transform: uppercase;

      &-intersection {
        display: none;

        @include mobileMin {
          display: inline-block;
        }
      }

      &-about{
        display: none;

        border-bottom: 2px solid black;
        text-transform: capitalize;
        font-weight: 600;
        color: black;

        &:hover {
          text-shadow: 1px 2px 2px rgba(136, 206, 191, 0.69);
        }

        @include mobileMin {
          display: inline-block;
        }
      }

      &-work {
        display: none;
        text-transform: capitalize;
        color: black;

        &:hover {
          text-shadow: 1px 2px 2px rgba(136, 206, 191, 0.69);
        }

        @include mobileMin {
          display: inline-block;
        }
      }
    } 
  }

/*----SOCIAL-ICONS-WRAPPER----*/

  &__socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 10;

    width: 100px;
    padding: 5px 10px;
    padding-top: 4.5px;
    margin-top: 1px;
    border: 1px solid white;
    border: none;
    background-color: rgb(37, 37, 37);
    opacity: .85;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.966);
    letter-spacing: .2em;
    font-size: 13px;
    text-transform: uppercase;
    color: black;

    @include tablet {
      width: 130px;
      margin-top: 13px;
      border: 1px solid white;
      font-size: 15px;
    }
    
    &__button-link {
      color: white;
    }
  }
}


  
    
  


  

  

  
  
  
  
  
  

  

 
  
 

