.main {

  &__project {
    position: relative;

    @include tablet {
      display: flex;
      flex-direction: row;
    }

    &__image{
      height: 50vh;
      background-image: url('/assets/images/proxyCover.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  
      @include tablet  {
        height: 100vh;
        width: 50vw;
        font-size: 28px;
      }
    }

    &__description{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      height: 50vh;
      padding: 0 34px;
      text-align: center;
      background-image: url('/assets/images/firstWorkImage.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: white;
      background-color: #2a4d68;
      font-family: 'Cuprum', sans-serif;
      font-size: 16px;

      @include tablet {
        width: 50vw;
        height: 100vh;
        font-size: 20px;
      }

      &-title {
        font-size: 20px;

        @include tablet {
          font-size: 28px;
        }
      }

      &-links {
        display: flex;
        flex-direction: row;
        justify-content: center; 

        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 14px;

        @include tablet {
          font-size: 15px;
        }
      }
    }
  }
}

////SINGLE-WORKS-STYLES////

.second-proyect-description{
  background-image: url('/assets/images/secondWorkImage.png');
  background-color: #173d31;
}

.second-proyect-image{
  background-image: url('/assets/images/CardsImageCover.jpg');
}

.third-proyect-description{
  background-image: url('/assets/images/thirdWorkImage.png');
  background-color: #3e0c15;
}

.third-proyect-image{
  background-image: url('/assets/images/diceGameCover.jpg'); 
}

.fourth-proyect-description{
  background-image: url('/assets/images/fourthWorkImage.png');
  background-color: #1a4127;
}
.fourth-proyect-image{
  background-image: url('/assets/images/fourthProjectCover.jpg');
}

.fifth-proyect-description{
  background-image: url('/assets/images/fifthWorkImage.png');
  background-color: #472c22;
}

.fifth-proyect-image {
  background-image: url('/assets/images/fifthProjectImage.jpg');
}

.sixth-proyect-description {
  background-image: url('/assets/images/seventhWorkImage.png');
  background-color: #194a52;
}

.sixth-proyect-image {
  background-image: url('/assets/images/seventhProjectImage.jpg');
}

.seventh-proyect-description {
  background-image: url('/assets/images/sixthWorkImage.png');
  background-color: #473213;
}

.seventh-proyect-image {
  background-image: url('/assets/images/sixthProjectImage.jpg');
}

////BUTTONS-TO-PROJECTS////

.seeMore-button {
  position: relative;
  display: inline;

  margin: 10px;
  padding: 8px;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;

  @include tablet  {
    width: 106px;
    font-size: 16px;
  }

  &:hover {
    transform: scale(1.1);
  }

  .linkToProject {
    color: white;
    text-transform: uppercase;
    padding: 8px;
  }
}


////



.margin-top {
margin-top: 15px;
}
.margin-bottom {
margin-bottom: 15px;
}
